$text-black: #1a1717; // Text for light mode.
$text-white: #ffffff; // Text color for dark mode.

$background-grey: #f9f9fa; // Page background
$light-grey: #efefef;
$medium-grey: #dfdfdf; // Post borders
$darker-grey: #cbcbcb; // Currently only horizontal rules I think?

$light-blue: #338fc2; // Links
$sweet-red: #ce1717; // The Best Red (TM). Navbar, hovers, buttons, etc.
