$text: #ccc; // Text for dark mode.

$background-white: #fbfbfb;
$background-grey: #181818; // Page background

$medium-grey: #3f3f46;
$lightest-grey: darken($medium-grey, 20%);
$light-grey: darken($medium-grey, 15%);
$dark-grey: lighten($medium-grey, 10%);
$darkest-grey: lighten($medium-grey, 25%);

$light-blue: #339fdb;

$light-yellow: #fcfaea; // Recent comment flash

$bright-green: #46e146; // Recently active user markers

$sweet-red: darken(desaturate(#ce1717, 20%), 10%); // The Best Red (TM). Hovers, buttons, etc.
$dark-red: darken($sweet-red, 10%);
$lightest-pink: $light-grey;
$light-pink: lighten($sweet-red, 40%);
$darker-pink: lighten($sweet-red, 30%); // 'Recently commented' notifications
$dark-pink: lighten($sweet-red, 20%);

$link-color: $light-pink; // Links
$link-hover-color: $dark-pink;

$blockquote-color: $darkest-grey;

$button-color: $dark-pink;
$button-hover-color: $darker-pink;

$bg-color: $background-grey;
$dot-color: lighten($background-grey, 5%);
 
$highlight: darken($sweet-red, 40%);
$placeholder: $dark-grey;
$editor-background: $light-grey;

$navbar-shadow: 5px 5px 10px rgba(0,0,0,0.8);
$dropdown-shadow: 0 3px 8px rgba(0, 0, 0,8);
$post-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
$button-shadow: none;
$button-shadow-hover: none;

$navigation-background: $background-grey;
$element-background: #202020;
$aside-background: $element-background;

$navigation-border: $dark-red;
$navigation-text: rgba($text, 0.8);
$navigation-active-text: $darker-pink;
$navigation-hover-text: $dark-pink;

$notification-background: $element-background;
$notification-text: $text;
$notification-active-background: darken($medium-grey, 5%);

$comment-background: lighten($element-background, 5.10);

$message-color: $light-pink;
$message-background: $comment-background;
$message-border: $light-pink;

$editor-button-text: $background-white;
$editor-button-background: $medium-grey;
$editor-button-selected-background: $light-grey;