$text: #ccc; // Text for dark mode.

$background-white: #fbfbfb;
$background-grey: #f9f9fa; // Page background

$medium-grey: #3f3f46;
$lightest-grey: darken($medium-grey, 20%);
$light-grey: darken($medium-grey, 15%);
$dark-grey: lighten($medium-grey, 10%);
$darkest-grey: lighten($medium-grey, 25%);

$background-grey: #1a1a1c; // Page background

$light-blue: #339fdb; // Links

$light-yellow: #fcfaea; // Recent comment flash

$bright-green: #46e146; // Recently active user markers

$sweet-red: darken(desaturate(#ce1717, 20%), 10%); // The Best Red (TM). Hovers, buttons, etc.
$dark-red: darken($sweet-red, 10%);
$lightest-pink: #fffafc;
$light-pink: lighten($sweet-red, 40%);
$darker-pink: lighten($sweet-red, 30%); // 'Recently commented' notifications
$dark-pink: lighten($sweet-red, 20%);

$highlight: darken($sweet-red, 40%);
$placeholder: $dark-grey;
$editor-background: $light-grey;

$navbar-shadow: 5px 5px 10px rgba(0,0,0,0.8);
$dropdown-shadow: 0 3px 8px rgba(0, 0, 0,8);
$post-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
$button-shadow: 2px 2px 3px rgba(0,0,0,0.8);
$button-shadow-hover: 1px 1px 1px rgba(0,0,0,0.8);

$navigation-background: darken($background-grey, 5%);
$element-background: darken($background-grey, 2%);
// $page-background: #212224;
$aside-background: $element-background;

$navigation-border: $dark-pink;
$navigation-text: rgba($text, 0.8);
$navigation-active-text: $dark-pink;
$navigation-hover-text: $sweet-red;

.color-test {
    margin-top: 80px;
    display: inline-block;
    width: 80px;
    height: 80px;
    &.medium-grey  {
        background-color: $medium-grey;
    }
    &.lightest-grey {
        background-color: $lightest-grey
    }
    &.light-grey {
        background-color: $light-grey

    }
    &.dark-grey {
        background-color: $dark-grey
    }
    &.darkest-grey {
        background-color: $darkest-grey
    }
}
