$text-black: #ffffff; // Text for light mode.

$background-grey: black; // Page background
$lightest-grey: #f3f3f3; // Form input backgrounds
$light-grey: #efefef;
$medium-grey: #cecece; // Post borders
$dark-grey: #aaa;
$darkest-grey: #666;

$light-blue: #338fc2; // Links

$sweet-red: #ce1717; // The Best Red (TM). Hovers, buttons, etc.
$dark-red: darken($sweet-red, 10%);
$lightest-pink: #fffafc;
$light-pink: lighten($sweet-red, 40%);
$dark-pink: lighten($sweet-red, 20%);
