*,
::after,
::before {
    box-sizing: border-box;
}

html {
    height:100%;
}

body {
    min-height:100%;
}

img {
    vertical-align: middle;
    border-style: none
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

/*containers and page layout-ers*/

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 720px
        /*? about that last one*/
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%
}

/*in handlebars files: community, communities, communitysidebar, settings, and support*/
.pane {
    padding: 15px;
    background: $element-background;
    border: 1px solid $medium-grey;
}

.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important
}

/* todo: move to somewhere that makes sense */
.inactive-feed-container{
    display:none;
}

@media(min-width:600px) {
    .col-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .col-md-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }
}

.col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 992px) {
    .col-lg-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 992px) {
    .col-lg-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
}

@media (min-width: 768px) {
    .col-md-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
}

/* This is such a hot mess of a hack, I'm sorry */
.col-md-4 h4,
.col-md-4 h5,
.col-md-4 h6 {
    font-family: 'Ubuntu', sans-serif;
}

.flex-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important
}

.mt-2,
.my-2 {
    margin-top: .5rem !important
}

.d-block {
    display: block !important;
}

.mt-3,
.my-3 {
    margin-top: 1rem !important;
}

.mr-2,
.mx-2 {
    margin-right: .5rem !important
}

.pt-0,
.py-0 {
    padding-top: 0 !important
}

.p-2 {
    padding: .5rem !important;
}

.pl-0,
.px-0 {
    padding-left: 0 !important;
}

.pb-0,
.py-0 {
    padding-bottom: 0 !important
}

.p-1 {
    padding: .25rem !important
}

.mr-1,
.mx-1 {
    margin-right: .25rem !important
}

.mb-3,
.my-3 {
    margin-bottom: 1rem !important;
}

.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important
}

@media(min-width:600px) {

    .mr-md-0,
    .mx-md-0 {
        margin-right: 0 !important
    }
}

.ml-md-0,
.mx-md-0 {
    margin-left: 0 !important
}

.mt-0,
.my-0 {
    margin-top: 0 !important
}

@media(max-width:600px) {

    .mb-2,
    .my-2 {
        margin-bottom: .5rem !important
    }

    .ml-2,
    .mx-2 {
        margin-left: .5rem !important
    }
}

/*old posts container, deprecated in postsV2.handlebars, still used by systempost and the hidden newPostsAvailable thing*/
/*not to be confused with comments-container, which actually contains comments*/
.commentContainer {
    padding: 15px;
    border-bottom: 1px solid $medium-grey;
    padding-bottom: 0px;
}

.community-container {
    display: none;
}

#mainBody {
    display: block;
}

#homeBody,
#userBody,
#pageContainer {
    justify-content: center;
}

#bodyContainer {
    padding-top: 80px;
    padding-bottom: 20px;
    height:100%;
}

#bodyContainer .intro {
    text-align: center;
}

@media screen and (max-width: 768px) {
    #bodyContainer {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 70px;
    }
}

@media (max-width: 768px) {

    #homeBody,
    #userBody {
        margin: 0;
    }

    #homeBody>div,
    #userBody>div {
        padding: 0;
    }
}

.page-header {
    border-bottom: 2px solid $dark-pink;
    padding-bottom: 10px;
    margin-bottom: 20px;
}


@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media screen and (max-width: 768px) {
    #bodyContainer {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 70px;
    }
}

/* suggested users and hashtags stuff */

.fixed-container {
    position: fixed;
}

@media(max-width:600px){
    .fixed-container {
        display:none;
    }
}

.fixed-container>section {
    border: 1px solid $medium-grey;
    background: $aside-background;
    padding: 0.5rem 1rem 1rem 1rem;
    width: 350px;
    margin-bottom: 1rem;
}

.hashtags p:nth-child(7) {
    margin-bottom: 0;
    padding-bottom: 0;
}

.discovery-help-links {
    font-size: small;
    margin-top: 0.75rem;
    display: block;
    width: 100%;
    text-align: right;
}

.recommendations-help-text {
    display: none;
}

.hide-recommendation {
    position: relative !important;
    right: 11px;
    bottom: -21px;
    color: $text;
    font-size: 0.75rem;
    background: $element-background;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    line-height: 12px;
}

.hashtags-list {
    display: flex;
    flex-wrap: wrap;
}

.hashtags-list>* {
    margin-right: 0.5rem;
}

#userActionsButtons {
    margin: 1rem 0;
}

/*some stuff user profile and community pages share*/

/*for community and user profile page sidebars*/
.user-list {
    padding: 0;
    margin: 0 0 0 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.user-list.collapse {
    display:none;
}

.user-list-icon {
    display: flex;
    position: relative;
    margin-right: 8px;
    width: 30px;
}

.user-list a {
    position: relative;
}

.recently-active-marker {
    color: $bright-green;
    position: absolute;
    font-size: 0.65rem;
    left: 23px;
    bottom: 0px;
}

.recently-active-marker-inline {
    color: $bright-green;
    font-size: 0.65rem;
}


.user-list.collapse.show,
.user-list.collapsing {
    display: flex !important;
}

.user-list li {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    margin: 2px;
    border: 1px solid $medium-grey;
}

.user-list li:hover {
    background: $highlight;
}

.user-list img {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    margin: 2px;
}

.user-list-toggle:hover {
    text-decoration: none;
}

/*user profile pics on their page and also the community's image on its page*/
#profileImageContainer {
    display: flex;
    width: 150px;
    position: relative;
    align-items: center;
}

#profileImage {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    object-position: top;
}

#profileImageContainer.community-image {
    width: 100%;
}

#profileImageContainer.community-image #profileImage {
    width: 100%;
    height: 100%;
}

@media (max-width: 776px) {
    #profileImage {
        max-height: 250px;
    }
}

.own-profile-image {
    margin-bottom: 0 !important;
}

/*stuff just for community pages*/

.compact-container {
    border: 1px solid $medium-grey;
}
/*used for listing items inside .compact-container*/
.content-box {
    padding: 15px;
    border-bottom: 1px solid $medium-grey;
    background: $element-background;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .content-box-header {
        font-size: 1.1rem;
        margin-bottom: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        @media (min-width: 786px) {
            margin-bottom: 0;
        }
    }

    .content-box-actions {
        flex: 1;
        justify-content: flex-start;
        display: flex;

        button:not(:last-child) {
            margin-right: 0.25rem;
        }

        @media (min-width: 786px) {
            justify-content: flex-end;
        }
    }

    @media (min-width: 768px) {
        flex-direction: row;
    }
}

.content-box:last-of-type {
    border-bottom: 0;
}

.content-box:hover {
    box-shadow: $post-shadow;
}

/*page-header itself is used by a bunch of pages, its styles are down in the misc section*/
.page-header.community-name {
    padding-top: 10px;
}

/*community tags indicates open/approval required, public/private*/
.user-tags,
.community-tags {
    margin-top: -10px;
    margin-bottom: 0.5rem;
}

.tag {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 0.8rem;
    border: 1px solid;
    border-radius: 4px;
    line-height: 1rem;
    padding: 0.15rem 0.25rem;
    margin-right: 0.25rem;
    background: $lightest-grey;
    box-shadow: $button-shadow;
}

.tag.tag-green {
    border-color: darken($bright-green, 30%);
    background: lighten($bright-green, 30%);
    color: darken($bright-green, 30%);
}

#nav-tabContent,
#communitiesTabContent {
    background: $element-background;
    border-left: 1px solid $medium-grey;
    border-right: 1px solid $medium-grey;
    border-bottom: 1px solid $medium-grey;
    padding: 15px;
    margin-top: 0;
}

#votesContainer {
    margin-bottom: 1rem;
}

.post.vote {
    background: none;
    border: 0;
    border-bottom: 1px solid $medium-grey;
}

.post.vote:hover {
    box-shadow: none;
}

.post.vote:last-child {
    border-bottom: none;
}

#votesContainer {
  background: $lightest-pink;
  border: 1px solid $medium-grey;
}

// This is the box containing the new proposal in community votes
.proposal-box>p:last-of-type {
    margin-bottom: 0;
}

#newCommunityForm label {
    font-weight: bold;
}

/* replaced by... something in postsV2.handlebars, still used in communities and votes .handlebars and systempost i guess */
.authorLink {
    color: $text;
}

/*nav is used in the links to change community tabs and on the sidebar leave and join things somehow.*/
/*nav-tabs is just in community tabs.*/
.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: $text;
    background-color: $element-background;
    border-color: $medium-grey $medium-grey $element-background;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: $darkest-grey;
}

/*nav-link is also used for navigation in navbar, community sidebar, community pages, and community directory page, so should probs. be factored out of here and into the misc. section*/
.nav-link {
    display: block;
    padding: .5rem 1rem;
}

.nav-link:focus,
.nav-link:hover {
    text-decoration: none
}

.nav-tabs {
    border-bottom: 1px solid $medium-grey;
}

.nav-tabs .nav-item {
    margin-bottom: -1px;
}

#community-editor-tabs {
    flex-direction: column;
}

.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

/*modal stuff mostly stolen from bootstrap*/
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0
}

/*is applied to the body element*/
.modal-open {
    overflow: hidden;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid $element-background;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.modal.fade .modal-dialog {
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    transform: translate(0, -25%);
}

.modal.show .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
    }
    #editPostModal>.modal-dialog {
        max-width: 600px;
    }
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: $element-background;
    background-clip: padding-box;
    border: 1px solid $medium-grey;
    border-radius: .3rem;
    outline: 0;
}

.modal-backdrop.fade {
    opacity: 0;
}

.modal-backdrop.show {
    opacity: .9;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: $element-background;
}

//this type of modal should always display over others
.bootbox-alert {
    z-index: 1060;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}

.bootbox-confirm {
    padding-top: 60px;
}

.close:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
}

.modal-footer>:not(:last-child) {
    margin-right: .25rem;
}

.modal-footer>:not(:first-child) {
    margin-left: .25rem;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: $text;
    text-shadow: 0 1px 0 $element-background;
    opacity: .5;
}

.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}

.modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid $medium-grey;
}
