// Colors
$bg-color: $background-grey;
$dot-color: #eeeeee;

// Dimensions
$dot-size: 2px;
$dot-space: 22px;

.logged-out-body {
    background: linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
		linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
		$dot-color;
	background-size: $dot-space $dot-space;
    background-position: fixed;

    .bee-logo {
        padding-left: 1rem;
        height: 3rem;
        bottom: 0.3rem;
        position: relative;
    }

    h1 {
        color: $dark-pink;
        font-size: 4rem;
        font-weight: 500;
        font-family: 'Quicksand',sans-serif;
        margin: 0;

        a, a:active, a:visited {
            color: $sweet-red;
        }

        a:hover {
            color: $dark-pink;
            text-decoration: none;
        }
    }

    p {
        font-size: 1.25rem;
        font-weight: 300;
    }

    .subtitle {
        color: $sweet-red;
        font-size: 2rem;
        margin-bottom: 2rem;
        letter-spacing: -.5px;
    }

    .sidebar-text {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
}

.logged-out-container {
    margin: 30px auto;
}

.logged-out-form {
    border: 1px solid $light-grey;
    border-radius: 6px;
    padding: 10px;
    background: #fff;
    max-width: 500px;
    margin: 1rem auto;

    &:not(:first-of-type) {
        margin-top: 2rem;
    }

    .form-group {
        position: relative;
        margin-bottom: 1rem;

        label {
            position: absolute;
            top: 7px;
            left: 0.5rem;
            opacity: 0;

            @include transition;
        }

        input:not(:placeholder-shown) {
            padding-top: 20px;
        }

        input:not(:placeholder-shown) + label {
            transform: translateY(-5px);
            opacity: 1;
        }
    }

    label {
        font-size: 0.85rem;
        color: $dark-pink;
        font-weight: 500;
    }

    input {
       width: 100%;
       height: 45px;
       border: 1px solid $light-grey;
       border-radius: 3px;
       padding: 0.25rem 0.5rem;

       @include transition;

       &:focus {
           border-color: $light-pink;
       }
    }

    .help-text {
        opacity: .6;
        padding-left: 8px;
        display: block;
        margin: 3px 0 0 0;
    }
}

.help-link {
    font-size: small;
    margin-top: 1.25rem;
    display: block;
    width: 100%;
    text-align: right;
}

.logged-out-communites-list {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    a {
        width: 24%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: 10px;
        border: 1px solid $medium-grey;
        border-radius: 6px;
        margin-bottom: 10px;
        text-align: center;
        background: #fff;
        font-weight: bold;
        color: $text;

        @include transition;

        &:hover {
            background: $lightest-pink;
            border-color: $light-pink;
            color: $dark-pink;
            text-decoration: none;
        }

        @media screen and (max-width: 768px) {
            width: 32%;
        }
        @media screen and (max-width: 576px) {
            // width: 48%;
            display: none;
        }
    }
    img {
        width: 100%;
        margin-bottom: 10px;
        border-radius: 6px;
    }

}
