/*post header stuff*/

.post-header .user-flag {
    width: 1.5rem;
    align-self: center;
}

.user-flag {
    color: red;
    margin-left: 5px;
}


article.post>.notifications,
article.post>header,
article.post>.content,
article.post>.toolbar {
    padding: 0 1rem;
}

article.post>.notifications {
    border-bottom: 1px solid rgba($medium-grey, .5);
    margin-bottom: 1rem;
    margin-top: -.25rem;
}


article.post>.notifications>div:last-child {
    margin-bottom: .5rem;
}

article.post>.notifications div {
    color: $darkest-grey;
    margin-bottom: 0.5rem;
}

article.post>.notifications div a,
article.post>.notifications div a:active,
article.post>.notifications div a:visited {
    color: $darkest-grey;
}

article.post>.notifications div a:hover {
    color: $link-hover-color;
}

article.post>.notifications div.recently-commented-notification {
    color: $darker-pink;
}

article.post>.notifications div.recently-commented-notification a,
article.post>.notifications div.recently-commented-notification a:active,
article.post>.notifications div.recently-commented-notification a:visited {
    color: $darker-pink;
}

article.post>.notifications div.recently-commented-notification a:hover {
    color: $link-hover-color;
}

article.post>.notifications div.community-notification {
    display: flex;
    align-items: center;
}

article.post>.notifications div.community-notification img {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    margin-right: 5px;
}

article.post>.notifications div.recently-commented-notification a,
article.post>.notifications div.community-notification a,
article.post>.notifications div.boosters-notification a {
    font-weight: 500;
}

article.post>header {
    display: flex;
}

article.post>header img.author-image {
    width: 46px;
    height: 46px;
    border-radius: 5px;
}

article.post>header .post-header-left {
    height: 46px;
    width: 46px;
    margin-right: 7px;
}

article.post>header .post-header-right {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    justify-content: center;

    .post-edited {
        font-variant: small-caps;
        text-transform: lowercase;
    }
}

article.post>header h2.author-name {
    font-size: 1em;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0;
    margin: 0;
    display: flex;
    overflow: hidden;
    margin-bottom: 4px;
    white-space: nowrap;
}

article.post>header .author-display-name,
article.comment>header .author-display-name,
#welcome-message-container>footer .author-display-name {
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 5px;
}

article.post>header .author-display-name a,
article.comment>header .author-display-name a,
#welcome-message-container>footer .author-display-name a,
article.post>header .author-username a,
article.comment>header .author-username a,
#welcome-message-container>footer .author-username a {
    color: $text;
}

article.post>header .author-display-name a:hover,
article.comment>header .author-display-name a:hover,
#welcome-message-container>footer .author-display-name a:hover,
article.post>header .author-username a:hover,
article.comment>header .author-username a:hover,
#welcome-message-container>footer .author-username a:hover {
    color: $link-hover-color;
}

article.post>header .author-username,
article.comment>header .author-username,
#welcome-message-container>footer .author-username {
    color: $darkest-grey;
}

article.post>header .author-username:first-child,
article.comment>header .author-username:first-child,
#welcome-message-container>footer .author-username:first-child {
    color: $text;
    font-weight: 500;
}

article.post>header .metadata {
    color: $darkest-grey;
    font-size: 0.85rem;
}

.postAuthorImage {
    width: 46px;
    height: 46px;
    border-radius: 5px;
    display: inline;
    margin-right: 5px;
}

.button.show-boosters-list {
    margin-left: 2px;
    position: relative;
    bottom: -4px;
}

.booster:not(:last-of-type):after {
    content: ', ';
}


/* post body layout + buttons stuff */

article.post {
    padding-top: 1rem;
    border: 1px solid $medium-grey;
    margin-bottom: 1rem;
    background: $element-background;
    @media(min-width:768px) {
      border-radius: $rounded-border;
    }
}

article.post>.content {
    position: relative;
    margin: 1rem 0;
    overflow-wrap: break-word;
}

article.post>.content .content-warning {
    margin-bottom: 0.5rem;
}

.show-more-content {
    display: none;
}

article.post>.toolbar {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
    padding-left: 0.65rem;
    max-width: 390px;

    @media screen and (max-width: 576px) {
        max-width: 100%;
        width: 100%;
        justify-content: space-between;
    }
}


article.post:hover {
    box-shadow: $post-shadow;
}

.post-action-button {
    /*um this class was technically deprecated in the new postsV2.handlebars that added threaded comments but the stats page still uses it for some reason*/
    color: #aaa;
}

.button.post-toolbar-button {
    background: $element-background;
    box-shadow: none;
    color: $dark-grey;
    flex: 1;
    display: flex;
    align-items: center;
    width: 40px;
    justify-content: center;
    margin-right: 32px;
    padding: 0;
    &:hover {
        background: $element-background;
        color: $link-hover-color;
    }
    @media screen and (max-width: 576px) {
        margin-right: 0;
    }
}

.comments-number,
.pluses-number {
    font-size: smaller;
    margin-left: 3px;
}

.post-toolbar-button.have-plused,
.post-toolbar-button.in-library {
  font-weight: bold;
  color: $darker-pink;
}

.content-warning {
    font-weight: 500;
}

.abbreviated-content {
    height: 20rem;
    overflow: hidden;
}

.abbreviated-content:not(.content-warning-content)::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 17.5rem;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 3rem;
}

.post .abbreviated-content:not(.content-warning-content)::after {
    background-image: linear-gradient(to bottom, rgba($element-background, 0), rgba($element-background, 1) 90%);
}

.comment .abbreviated-content:not(.content-warning-content)::after {
    background-image: linear-gradient(to bottom, rgba($element-background, 0), rgba($lightest-grey, 1) 90%);
}

.button.show-more {
    width: 100px;
    display: block;
    font-size: 0.8rem;
    margin: 0.5rem auto;
}

.button.content-warning-show-more {
    width: 100px;
    display: block;
    font-size: 0.8rem;
    margin: 0 auto 0.5rem auto;
}

a.show-more {
    /* Shim for old show more button element. (is this still used?) */
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    padding: .15rem .35rem;
    font-weight: 300;
    text-transform: uppercase;
    height: 100%;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    text-align: center;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: $dark-grey;
    color: $element-background !important;
    width: 100px;
    display: block;
    font-size: 0.8rem;
    margin: 0.5rem auto;
}

a.show-more:hover {
    /* Shim for old show more button element */
    background: $darkest-grey;
}

/*comments section*/

.button.comment-toolbar-button {
    background: none;
    color: $dark-grey;
    padding: 0;
    font-size: 0.75rem;
    box-shadow: none;
}

.button.comment-toolbar-button:not(:first-child) {
    margin-left: 1rem;
}

.button.comment-toolbar-button:hover {
    color: $link-hover-color;
}

.comment-deleted-message,
.comment-muted-message {
    font-style: italic;
    font-weight: 300;
}

section.comments {
    font-size: 0.9rem;
    margin: 0 1rem 1rem 1rem;
}

section.comments>.comments-container>.comment:first-child {
    padding-top: 1rem;
    border-top: 1px solid $light-grey;
}

article.comment {
    margin-top: .75rem;
}

div.comments-container>article.comment:first-child {
    margin-top: 0;
    /* Otherwise comments section jumps when appearing??  */
}

article.comment:last-child {
    margin-bottom: .75rem;
}

article.comment recent-comment-content {
    transition: background 0.5s;
}

article.comment .recent-comment-content.flash {
    animation: flash 2s ease-out;
    animation-iteration-count: 1;
}

@keyframes flash {
    0% {
        background-color: $lightest-grey;
    }

    50% {
        background-color: $light-yellow;
    }

    100% {
        background-color: $lightest-grey;
    }
}

article.comment>header .timestamp {
    font-size: 0.75rem;
    color: $darkest-grey;
    white-space: nowrap;
    position: relative;
    top: 1px;
    padding-left: 5px;
}

article.comment>.content {
    margin-top: 0.25rem;
    background: $comment-background;
    padding: 0.5rem;
    border: 1px solid $light-grey;
    border-radius: 4px;
    max-width: 480px;
    position: relative;
}

article.comment>.content.comment-deleted-content,
article.comment>.content.comment-muted-content {
    margin-top: 0;
}

article.comment>.content p:last-child {
    margin-bottom: 0rem;
}

article.comment article.comment {
    padding-left: 10%;
}

/*the comment header and community welcome message styles are intermixed here*/

#welcome-message-container {
    margin-bottom: 1rem;
}

#welcome-message-container>footer,
article.comment>header {
    display: flex;
    overflow: hidden;
}

#welcome-message-container>footer .welcome-message-container,
article.comment>header .comment-header-container {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
}


#welcome-message-container>footer .author-image,
article.comment>header>.author-image {
    width: 25px;
    height: 25px;
    border-radius: 3px;
    margin-right: 3px;
}

#welcome-message-container>footer h3.author-name,
article.comment>header h3.author-name {
    font-size: 1em;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0;
    margin: 0;
    display: flex;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding-right: 5px;
}

#welcome-message-container>footer .author-username,
article.comment>header .author-username {
    font-weight: 400;
    white-space: nowrap;
}

/*stuff that's just for the welcome message*/

#welcome-message-container footer {
    margin-top: 1rem;
    border-top: 1px solid rgba(173, 134, 219, 0.2);
    padding: 1rem 0 0 0;
    font-weight: 300 !important;
    font-size: 0.75rem !important;
}

#welcome-message-container .updated-by-text {
    white-space: nowrap;
    margin-right: 5px;
    align-self: center;
}

#welcome-message-container>footer .author-image {
    height: 20px;
    width: 20px;
}

#welcome-message-container {
    padding: 15px;
    background: -moz-linear-gradient(-45deg, #f7efff 0%, #d8cce5 100%);
    background: -webkit-linear-gradient(-45deg, #f7efff 0%, #d8cce5 100%);
    background: linear-gradient(135deg, #f7efff 0%, #d8cce5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7efff', endColorstr='#d8cce5', GradientType=1);
    color: #2c1445;
    border: 1px solid darken(#d8cce5, 5%);
}

#welcome-message-container>p:last-child {
    margin: 0;
}


/*link preview stuff, also used to preview youtube/vimeo embeds, so that's here too, and also this is used within the editor while previewing the link previews*/
.link-preview-container {
    font-size: 0.9em;
    display: flex;
    height: 100px;
    color: $text;
    font-weight: 500;
    border: 1px solid $medium-grey;
    border-radius: 4px;
    margin: 0 0 0.5em 0;
    background-color: $element-background;
    align-items: center;
}

.link-preview-container:hover {
    text-decoration: none;
    color: $link-color;
}

.link-preview-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    margin-left: 10px;
}

.link-preview-text-container>div {
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 20px;
}

.link-preview-image {
    border-radius: 2px;
    align-self: center;
    max-height: 100%;
    width: 100px;
    height: 100px;
    min-width: 100px;
    object-fit: cover;
}

.link-preview-icon {
    width: 100px;
    height: 100px;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

.embedded-video-preview .link-preview-icon {
    position: absolute;
    color: white;
    font-size: 40px;
    .svg-inline--fa.fa-play-circle path {
        stroke-width: 165px;
        stroke: rgba(0,0,0,0.3);
        paint-order: stroke;
    }
}

.link-preview-description {
    font-weight: 400;
    font-size: 0.9em;
    height: 40px;
    white-space: normal !important;
    overflow: hidden;
}

.link-preview-domain {
    font-weight: 300;
    font-size: 0.85em;
}

@media(max-width:500px) {
    .link-preview-container {
        height: 75px;
    }

    .link-preview-image,
    .link-preview-icon {
        width: 75px;
        height: 75px;
        min-width: 75px;
    }

    .link-preview-icon {
        font-size: 40px;
    }

    .link-preview-description {
        height: 20px;
    }
}

.embedded-video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 0.5rem;
}

.embedded-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.embedded-video-preview-container {
    display: flex;
    justify-content: center;
    position: relative;
    height: 78px;
}

.user-image-sm {
    height: 16px;
    border-radius: 3px;
}

.post__tags-container {
    display: flex;
    flex-wrap: wrap;
}

.post__tag {
    font-size: 0.9em;
    background: rgba(#339fdb, .075);
    border: 1px solid rgba(#339fdb, 0.15);
    padding: 0 5px;
    border-radius: 5px;
    white-space: nowrap;
    color: #339fdb;
    margin-right: .5rem;
    margin-top: .5rem;
    align-self: flex-start;
    &:hover {
        background: rgba(#339fdb, .2);
        border: 1px solid rgba(#339fdb, 0.3);
        text-decoration: none;
        color: #339fdb;
    }
}

.mention-link {
    padding: 0.2rem;
    white-space: nowrap;
    color: $dark-pink;
    text-decoration: none;
    background-color: transparent;
    background: $lightest-pink;
    border-radius: 5px;
    border: 1px solid lighten($light-pink, 5);
    &:hover {
        background: darken($lightest-pink, 3%);
        text-decoration: none;
    }
}

.collapsed-post-body {
    height: 160px;
    overflow: hidden;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgb(255, 255, 255) 90%, rgb(255, 255, 255) 100%);
        pointer-events: none;
        bottom: 0;
        left: 0;
        height: 50px;
    }
}

.keep-reading-button {
    display: block;
    margin-bottom: .5rem;
    font-weight: 700;
    z-index: 50;
}