<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div id="case">
            <div id="border">
                {{ content }}
            </div>
            {% include footer.html %}
        </div>
    </body>
    <script>
var app = document.getElementById('intro');

function colorise() {
  $('#flash').fadeIn(0).fadeOut(500);
  $('body').css('color','#33ff33');
}


var typewriter = require('typewriter');
var twSpan = document.getElementById('intro');

var tw = typewriter(twSpan).withAccuracy(100) // an integer between 0 and 100 (100 means no typos)
                                     .withMinimumSpeed(15) // minimum typing speed (characters per second)
                                     .withMaximumSpeed(20) // maximum typing speed
                                     .build();

tw.clear() // clear targetDomElement
  .put('C:\\ > ') // instantly put '$ ' in targetDomElement
  .waitRange(1000, 2000) // wait randomly between 1000ms and 2000ms
  .type('LOAD HARAWAY.EXE') // type 'whoami'
  .put('<br/>') // yes, you can put html tags in targetDomElement
  .wait(500) // wait for 2000ms
  .put('LOADED', function () {
    $('body').css('color','#00ff66');
  })
  .put('<br/>') // will be executed after 1
  .waitRange(500, 1000)
  .put('C:\\ > ')
  .waitRange(1000, 2000)
  .type('PRINT MANIFESTO.TXT', function () {
    $('#text').slideDown('slow');
  });

// typewriter = new Typewriter(app, {
//   loop: false,
//   delay: 0,
//   cursor: '▊'
// });
//
// typewriter
//   .pauseFor(250)
//   .typeString('C:\\ > ')
//   .pauseFor(1000)
//   .typeString('LOAD HARAWAY.EXE\n')
//   .pauseFor(500)
//   .callFunction(colorise)
//   .pauseFor(250)
//   .typeString('<p></p>')
//   .typeString('LOADED\n')
//   .pauseFor(500)
//   .typeString('<p></p>')
//   .pauseFor(250)
//   .typeString('C:\\ > ')
//   .pauseFor(1000)
//   .typeString('PRINT MANIFESTO.TXT')
//   .pauseFor(250)
//   .typeString('<p></p>')
//   .pauseFor(500)
//   .callFunction(showManifesto, typewriter)
//   .start()


$('#footer a').hover(function() {
    $(this).addClass('hover')
}, function() {
    $(this).removeClass('hover')
})

$(function() {
    $('h1, h2').each(function() {
        $(this).attr('data-text',$(this).text())
    })


});

    </script>
</html>
