<button type="button" class="add-emoji">🍬</button>
<button type="button" class="add-emoji">🍭</button>
<button type="button" class="add-emoji">🍡</button>
<button type="button" class="add-emoji">🍩</button>
<button type="button" class="add-emoji">🍪</button>
<button type="button" class="add-emoji">🍫</button>
<button type="button" class="add-emoji">🎂</button>
<button type="button" class="add-emoji">🍯</button>
<button type="button" class="add-emoji">🍎</button>
<button type="button" class="add-emoji">🍑</button>
<button type="button" class="add-emoji">🍌</button>
<button type="button" class="add-emoji">🍓</button>
<button type="button" class="add-emoji">🍇</button>
<button type="button" class="add-emoji">🍉</button>
<button type="button" class="add-emoji">🐝</button>
<button type="button" class="add-emoji">😊</button>
<button type="button" class="add-emoji">🙃</button>
<button type="button" class="add-emoji">😍</button>
<button type="button" class="add-emoji">😂</button>
<button type="button" class="add-emoji">😭</button>
<button type="button" class="add-emoji">😬</button>
<button type="button" class="add-emoji">😆</button>
<button type="button" class="add-emoji">😩</button>
<button type="button" class="add-emoji">😱</button>
<button type="button" class="add-emoji">😒</button>
<button type="button" class="add-emoji">🖖</button>
<button type="button" class="add-emoji">🙌</button>
<button type="button" class="add-emoji">👏</button>
<button type="button" class="add-emoji">👌</button>
<button type="button" class="add-emoji">💪</button>
<button type="button" class="add-emoji">🤦</button>
<button type="button" class="add-emoji">🌱</button>
<button type="button" class="add-emoji">🌞</button>
<button type="button" class="add-emoji">🌝</button>
<button type="button" class="add-emoji">❤️</button>
<button type="button" class="add-emoji">💕</button>
<button type="button" class="add-emoji">💖</button>
<button type="button" class="add-emoji">🔥</button>
<button type="button" class="add-emoji">🎉</button>
<button type="button" class="add-emoji">💯</button>
<button type="button" class="add-emoji">🏳️‍🌈</button>
