<div class="emoji">🍬</div>
<div class="emoji">🍭</div>
<div class="emoji">🍡</div>
<div class="emoji">🍩</div>
<div class="emoji">🍪</div>
<div class="emoji">🍫</div>
<div class="emoji">🎂</div>
<div class="emoji">🍯</div>
<div class="emoji">🍎</div>
<div class="emoji">🍑</div>
<div class="emoji">🍌</div>
<div class="emoji">🍓</div>
<div class="emoji">🍇</div>
<div class="emoji">🍉</div>
<div class="emoji">🐝</div>
<div class="emoji">😊</div>
<div class="emoji">🙃</div>
<div class="emoji">😍</div>
<div class="emoji">😂</div>
<div class="emoji">😭</div>
<div class="emoji">😬</div>
<div class="emoji">😆</div>
<div class="emoji">😩</div>
<div class="emoji">😩</div>
<div class="emoji">😱</div>
<div class="emoji">😒</div>
<div class="emoji">🖖</div>
<div class="emoji">🙌</div>
<div class="emoji">👏</div>
<div class="emoji">👌</div>
<div class="emoji">💪</div>
<div class="emoji">🤦</div>
<div class="emoji">🌱</div>
<div class="emoji">🌞</div>
<div class="emoji">🌝</div>
<div class="emoji">❤️</div>
<div class="emoji">💕</div>
<div class="emoji">💖</div>
<div class="emoji">🔥</div>
<div class="emoji">🎉</div>
<div class="emoji">💯</div>
<div class="emoji">🏳️‍🌈</div>
