<!-- <div class="emoji">Click to add:</div> -->
<div class="emoji">🍭</div>
<div class="emoji">🍬</div>
<div class="emoji">👍</div>
<div class="emoji">👎</div>
<div class="emoji">😀</div>
<div class="emoji">😎</div>
<div class="emoji">😍</div>
<div class="emoji">🤨</div>
<div class="emoji">😑</div>
<div class="emoji">😶</div>
<div class="emoji">🙃</div>
<div class="emoji">👻</div>
<div class="emoji">🐶</div>
<div class="emoji">🐱</div>
<div class="emoji">🌞</div>
<div class="emoji">🌝</div>
<div class="emoji">❤️</div>
<div class="emoji">💯</div>
<div class="emoji">🏳️‍🌈</div>
