<nav class="navbar navbar-expand-sm navbar-light fixed-top" id="topNav">
  <a class="navbar-brand" href="/" id="navTitle">sweet</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav ml-auto">
      {{#if loggedIn }}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" id="notificationsDropdownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell"></i> <span class="badge badge-secondary" id="notificationsCount"></span>
          </a>
          <div class="dropdown-menu py-0" aria-labelledby="notificationsDropdownLink">
            <ul class="list-group list-group-flush" id="notificationsContainer">
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link{{#eq activePage 'search'}} active{{/eq}}" href="/search"><i class="fas fa-search"></i> search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{{#eq activePage 'communities'}} active{{/eq}}" href="/communities"><i class="fas fa-seedling"></i> communities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{{#eq activePage 'home'}} active{{/eq}}" href="/home"><i class="fas fa-home"></i> home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link {{#eq activePage loggedInUserData.username}}active{{/eq}} dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-at"></i> {{loggedInUserData.username}}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown" id="userDropdownMenu">
            <a class="dropdown-item" href="/{{loggedInUserData.username}}"><i class="fas fa-user-circle"></i> profile</a>
            <a class="dropdown-item" href="/settings"><i class="fas fa-cog"></i> settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout"><i class="fas fa-cookie-bite"></i> log out</a>
          </div>
        </li>
      {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/login"><i class="fas fa-cookie"></i> log in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup"><i class="fas fa-birthday-cake"></i> sign up</a>
        </li>
      {{/if}}
    </ul>
  </div>
</nav>
