<div class="contentForm" id="postForm" {{#if isMember}}communityid="{{communityData._id}}" {{/if}}>

  <div class="form-row">
    <textarea required class="editable-post-content editable-text" id="postContent" name="postContent" style="resize: none;" placeholder="Write something.">{{sessionFlash.errorContent}}</textarea>
  </div>
  <div class="form-row my-2" id="postContentWarningsContainer">
    <input type="text" class="form-control" name="postContentWarnings" id="postContentWarnings" placeholder="Warn others about your post's content." {{#if sessionFlash.errorContentWarnings }}value="{{sessionFlash.errorContentWarnings}}" {{/if}} />
  </div>
  <div class="form-row mb-2" id="imagePreviewContainer">
    <input type="hidden" id="postImageUrl" name="postImageUrl" /><!-- unused? p sure. -->
    <input type="hidden" id="postImageTags" name="postImageTags" /><!-- unused? p sure. -->
    </label>
  </div>
  <div class="form-row my-2 card p-1" id="emojiWindow" style="display:none">
    {{> emojilist }}
  </div>
  <div id="image-preview-holder" class="form-row post-controls image-preview-holder">
    <input type="file" class="file-input" accept="image/gif, image/jpeg, image/png" aria-label="Choose File" name="postImage" multiple>
  </div>
  <div id="bottomPostControlsRow" class="form-row mt-2 post-controls">
    {{! Hide this div in communities}}
    {{#unless isMember}}
    <div class="leftSideControls">
      <div class="switch-field" id="visibilityControls">
        <input type="radio" id="postPrivacy-public" name="postPrivacy" value="public" {{#eq loggedInUserData.settings.newPostPrivacy "public"}}checked{{/eq}} />
        <label for="postPrivacy-public"><i class='fas fa-eye'></i></label>
        <input type="radio" id="postPrivacy-private" name="postPrivacy" value="private" {{#eq loggedInUserData.settings.newPostPrivacy "private"}}checked{{/eq}}/>
        <label for="postPrivacy-private"><i class='fas fa-eye-slash'></i></label>
      </div>
    </div>
    {{/unless}}
    <div class="rightSideControls">
      <button type="button" class="btn btn-primary btn-fade" id="postImageButton"><i class="fas fa-image"></i></button>
      <button type="button" class="btn btn-primary btn-fade" id="emojiWindowButton"><i class="far fa-smile"></i></button>
      <button type="button" class="btn btn-primary btn-fade" id="postContentWarningsButton">CWs</button>
      <button type="submit" class="btn btn-primary btn-fade ml-3" id="postSubmit" data-loading-text="<i class='fas fa-spinner fa-spin'></i> Uploading">Send <i class="fas fa-chevron-right"></i></button>
    </div>
  </div>
</div>
