<form class="new-comment-form" data-comment-type="primary" data-post-id="{{#eq activePage 'singlepost'}}{{post._id}}{{else}}{{this._id}}{{/eq}}">
<input type="file" class="file-input" accept="image/gif, image/jpeg, image/png" aria-label="Choose image" name="postImage" multiple>
  <div class="form-row">
    <div class="editable-post-content editable-text" id="postContent">
      <p><br></p>
    </div>
  </div>
  <div class="form-row mt-2 p-1 emoji-picker" style="display:none">
    {{> emojilist }}
  </div>
  <div class="link-form-cont"> {{! this is only here bc jquery applies display:block when it slides something down, which would break the below div if it slid down that}}
    <div class="my-2 linkPreviewAddingForm">
      <input type="text" class="form-control" name="linkPreviewUrlEntry" id="linkPreviewUrlEntry" placeholder="http://endless.horse" />
      <button type="button" class="button grey-button ml-1 link-add" style="margin-left: 0.5rem;"><i class="fas fa-plus"></i> Add link</button>
    </div>
    <div class="p-1">
      <p style="flex-basis: 100%" class="small text-muted">Insert a link preview. You can also select text above and link it without a preview.</p>
    </div>
  </div>
  <div id="replyControlsRow" class="form-row mt-2 post-controls">
    <div class="leftSideControls">
      <button type="button" class="button grey-button" id="postLinkButton"><i class="fas fa-link"></i></button>
      <button type="button" class="button grey-button" id="postImageButton"><i class="fas fa-image"></i></button>
      <button type="button" class="button grey-button show-emoji-picker"><i class="far fa-smile"></i></button>
    </div>
    <div class="rightSideControls">
      <button type="submit" class="button create-comment">Reply <i class="fas fa-chevron-right"></i></button>
    </div>
  </div>
</form>
