<div class="modal fade" id="editPostModal" tabindex="-1" role="dialog" aria-labelledby="editPostModalLabel" aria-hidden="true"{{#if isDraft}} data-is-draft="true"{{/if}} data-post-id="{{postID}}" data-original-privacy="{{privacy}}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editPostModalLabel">Edit post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="contentForm" id="postEditForm">
          <input type="file" class="file-input" accept="image/gif, image/jpeg, image/png" aria-label="Choose image" name="postImage" multiple style="display:none;">
              <div class="form-row" style="margin-bottom:0.5rem;{{#if contentWarnings}}display:block;{{/if}}" id="postContentWarningsContainer">
                <input type="text" class="form-control" name="postContentWarnings" id="postContentWarnings" placeholder="Warn others about your post's content." value="{{contentWarnings}}" />
              </div>
              <div class="editable-post-content editable-text" id="editPostContent"></div>
              <div class="form-row mt-2 p-1 emoji-picker" style="display:none">
                {{> emojilist }}
              </div>
            <div class="link-form-cont"> {{! this is only here bc jquery applies display:block when it slides something down, which would break the below div if it slid down that}}
              <div class="my-2 linkPreviewAddingForm">
                <input type="text" class="form-control" name="linkPreviewUrlEntry" id="linkPreviewUrlEntry" placeholder="endless.horse" />
                <button class="button grey-button link-add" style="margin-left: 0.5rem;"><i class="fas fa-arrow-up"></i></button>
              </div>
            </div>
            <div id="editorControlsRow" class="mt-2 post-controls">
              {{! Hide this div in communities}}
              {{#unless isCommunityPost}}
              <div class="leftSideControls">
                <div class="switch-field" id="editVisibilityControls">
                  <input type="radio" id="editPostPrivacy-public" name="editPostPrivacy" value="public" {{#eq privacy "public"}}checked{{/eq}} />
                  <label for="editPostPrivacy-public" id="publicPrivacyLabel"><i class='fas fa-eye'></i></label>
                  <input type="radio" id="editPostPrivacy-private" name="editPostPrivacy" value="private" {{#eq privacy "private"}}{{#if isDraft}}{{else}}checked{{/if}}{{/eq}}/>
                  <label for="editPostPrivacy-private" id="privatePrivacyLabel"><i class='fas fa-eye-slash'></i></label>
                  {{#if isDraft}} {{! only posts that are already drafts can be edited and then saved as drafts }}
                  <input type="radio" id="editPseudoPrivacy-draft" name="editPostPrivacy" value="draft" checked/>
                  <label for="editPseudoPrivacy-draft" id="draftLabel"><i class='fas fa-pencil-ruler'></i></label>
                  {{/if}}
                </div>
              </div>
              {{/unless}}
              <div class="rightSideControls">
                <button type="button" class="button grey-button" id="postLinkButton"><i class="fas fa-link"></i></button>
                <button type="button" class="button grey-button" id="postImageButton"><i class="fas fa-image"></i></button>
                <button type="button" class="button grey-button show-emoji-picker"><i class="far fa-smile"></i></button>
                <button type="button" class="button grey-button" id="postContentWarningsButton"><i class="fas fa-info-circle"></i></button>
              </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="button" data-dismiss="modal">Cancel</button>
        <button type="submit" class="button" id="editPostSubmit" data-loading-text="<i class='fas fa-spinner fa-spin'></i> Uploading">Edit <i class="fas fa-chevron-right"></i></button>
      </div>
      </form>
    </div>
  </div>
</div>
