<script type="text/javascript">
$(function() {
  $(".editable-post-content").focus(function(){
    $(".post-controls").css('display', 'flex');
  })
  $("#postContentWarningsButton").click(function(){
    $("#postContentWarningsContainer").slideToggle("fast");
  })
  $("#emojiWindowButton").click(function(){
    $("#emojiWindow").slideToggle("fast")
  })
  $("#emojiWindow>.add-emoji").click(function(){
    pasteHtmlAtCaret($("#postForm").find('.editable-post-content.medium-editor-element'), '<span class="emoji"> ' + event.target.innerHTML + '</span>');
  })
  $("#postImageButton").click(function(){
    $(".file-input").click();
  })

    var imageuploadrequests = [];
    var imagesuploaded = 0;
    var uploadsinprogress = 0;
    var uploadscompleted = 0;
    var imageUrls = [];
    var imageDescs = [];

  $(".file-input").change(function (e) {
      var submitButtonValue = $("#postSubmit").html();
      $("#postSubmit").html("<i class='fas fa-spinner fa-spin'></i> Uploading").prop('disabled', true); 
      uploadsinprogress += this.files.length;
      
      for(var i = 0;i<this.files.length;i++){
        //add preview windows
        var fr = new FileReader();
        fr.onload = function(e){
          var newimagecont = $(".newimageform").clone();
          newimagecont.attr('class','newimagecont').attr('number',''+imagesuploaded++).appendTo( "#topPostControlsRow" );
          newimagecont.find('.image-preview')[0].style.backgroundImage = "url("+e.target.result+")";
        }
        fr.readAsDataURL(this.files[i]);

        //upload files and add urls to post form
        
        var fd = new FormData();
        fd.append('image', this.files[i]);
        fd.append('imageid',""+i);

        let imageUploadReq = $.ajax({
          url: '/api/image/v2',
          type: 'POST',
          data: fd,
          processData: false,
          contentType: false
        })
        .done(function( data ) {
          var uploadedImage = JSON.parse(data)
          if (uploadedImage.error){
            if (uploadedImage.error == "filesize"){
              bootbox.alert("Image too large! The maximum size for GIF images is 5MB and for JPG and PNG images is 10MB.");
              resetImageUploadFields();
            }
          }else {
            imageUrls.push(uploadedImage.url);
            $('.newimagecont[number="'+uploadedImage.imageid+'"]').attr('locInUrlArray', ""+uploadscompleted++);
            $("#postImageTags").val(uploadedImage.tags);
            uploadsinprogress--;
            if(uploadsinprogress==0){
              $("#postSubmit").html('Send <i class="fas fa-chevron-right"></i>').prop('disabled', false);
            }
          }
        })
        imageuploadrequests.push(imageUploadReq);
      }
      $('.file-input').val(""); //we don't need it! and we need to be detect all changes
  });

    $("#postSubmit").click(function(e){
      e.preventDefault();
      if($('#postContent').val() != "" || imagesuploaded!=0){
        let imagedescarray = [];
        for(let j=0;j<imagesuploaded;j++){
          imagedescarray.push($('.newimagecont[locInUrlArray="'+j+'"]').find('#postImageDescription').val());
        }
        $.ajax({
          url: '/createpost',
          type: 'POST',
          data: {
            postPrivacy: ($('#postPrivacy-public').attr('checked')) ? 'public' : 'private',
            postContent: $('#postContent').val(),
            postContentWarnings: $('#postContentWarnings').val(),
            postImageDescription: JSON.stringify(imagedescarray),
            postImageURL: JSON.stringify(imageUrls),
            imageTags: ""
          }}).done(function(data){
            window.location.reload(true);
          });
      }else{
        alert('either write something or upload an image plz');
      }
    });

  
      $("body").on('click','.image-clear',function(e){
        let imageid = $(this).parent().parent().attr('number');
        if(imageuploadrequests[imageid].readyState != 4){
          imageuploadrequests[imageid].abort();
          uploadsinprogress--;
          if(uploadsinprogress==0){
            $("#postSubmit").html('Send <i class="fas fa-chevron-right"></i>').prop('disabled', false);
          }
        }else{
          imagesuploaded--;
          if(imagesuploaded==0){
            $(".editable-post-content").prop('required',true);
          }
          let locInUrlArray = $(this).parent().parent().attr('locinurlarray');
          imageUrls[locInUrlArray] = "";
          
          let jsonResponse = JSON.parse(imageuploadrequests[imageid].responseText);
          $.post( "/cleartempimage", { imageURL: jsonResponse.url } );
        }
        $(this).parent().parent().remove();
          //resetImageUploadFields();
      })
  //})
  // document.onpaste = function(event){
  //   var items = (event.clipboardData || event.originalEvent.clipboardData).items;
  //   for (var i = 0 ; i < items.length ; i++) {
  //     var item = items[i];
  //     if (item.type.indexOf("image") != -1) {
  //       var file = item.getAsFile();
  //       $('#imagePreviewContainer').slideDown('fast');
  //       upload_file_with_ajax(file);
  //     }
  //   }
  // }

  $(window).on("unload", function(e) {
    imageUrls.forEach(function(url){
      if(url){
        $.post( "/cleartempimage", { imageURL: url } );
      }
      })
  });

})
</script>
