<div id="homeBody" class="row justify-content-center">
    <div class="col-lg-8 pane" style="padding:0.5rem">
        <h3 class="page-header">wat</h3>
        <p>
            sweet is a utopian social network based on a few basic principles derived from decentralised organisation practices: <strong>transparency</strong>, <strong>direct democracy</strong>, and <strong>safe spaces</strong>.
        </p>
        <p>
            some of our features include:
        </p>
        <ul>
            <li>per-post visibility settings;</li>
            <li>the ability to trust specific people, who will see your private posts, while people you do not trust only see your public posts;</li>
            <li>a whisper network-style ability to anonymously flag specific people, whose names come up with a warning sign for the people who trust you</li>
            <li>communities where all changes, including user muting and banning, are accepted or rejected via an anonymous vote of active community members;</li>
            <li>and more to come, including the ability for all members to report and vote on the removal of disruptive users from the site, easily delete your account and data, and change the visibility of old posts.</li>
        </ul>
        <h3 class="page-header">are u a 'mastodon'</h3>
        <p>
            sweet is <em>not</em> a decentralised platform like Mastodon or Scuttlebutt. all our code is open source so you are very welcome to run your own instance of the app, but individual instances do not link up with each other, and all user data is currently stored on a server located in the UK. <strong>as of july 2019, no external organisation has ever requested access to the data kept on sweet’s server.</strong>
        </p>
        <p>
            it goes without saying that sweet has no ads and will never sell or otherwise unethically make use of user data. we do not use tracking cookies or any external APIs, which would require us to transfer your data outside of our server for processing.
        </p>
        <p>
            unlike most other social networks, including decentralised ones which make the privacy of user data a priority, sweet's priority is increasing <em>social</em> security. we work to create a network which has no central administrative authority, where all users have equal access to all public information, and where all users are accountable to each other for their actions. sweet is not perfectly safe or perfectly private, but it is a utopian experiment in creating a better online world for folk who are made to feel unsafe online, in particular queer and trans people, women, disabled people, and people of colour.
        </p>
        <h3 class="page-header">whomst</h3>
        <p>
            sweet is under active development <a href="https://github.com/lowercasename/sweet/">on github</a>. please join us and help out! the main development team currently consists of <a href="https://sweet.sh/lowercasename">@lowercasename</a> (Raphael) and <a href="https://sweet.sh/giantpredatorymollusk">@giantpredatorymollusk</a> (Mitch). shoot either of us a message on sweet or open an issue or pull request on github if you find a bug, would like to suggest a new feature, or can see a good reason to change an existing feature.
        </p>
    </div>
</div>
