<div class="userForm">

    <h3 class="text-center mb-4">Forgot password</h3>

    {{> message }}

    <!-- LOGIN FORM -->
    <form action="/forgot-password" method="post">
        <div class="form-group">
            <input type="text" class="form-control" name="email" placeholder="Email" value="{{sessionFlash.email}}">
        </div>

        <button class="btn btn-secondary btn-block" type="submit">Reset password</button>
    </form>

</div>
