<div id="homeBody" class="row justify-content-center">
  <div class="col-lg-8">
    <div class="pane mb-3">
      <h3 class="page-header--pink mx-2">Library</h3>
      <p>Your Library is a collection of your favourite posts on Sweet. Only you can see your Library. Add posts here by clicking on the <i class="fas fa-book-heart"></i> button at the bottom of a post.</p>
    </div>
		<div id="library-app"></div>
		</div>
  </div>
</div>

<script src="/js/vue/library.js"></script>