<div class="userForm">

    <h3 class="text-center mb-4">Reset password</h3>

    {{> message }}

    <!-- LOGIN FORM -->
    <form action="/reset-password/{{resetToken}}" method="post">
      <div class="form-group">
          <input type="password" class="form-control" name="password" placeholder="New password">
      </div>
      <div class="form-group">
          <input type="password" class="form-control" name="passwordrepeat" placeholder="Repeat new password">
      </div>

        <button class="btn btn-secondary btn-block" type="submit">Reset password</button>
    </form>

</div>
