<div class="row">
    <div class="col-12">
        <h1 class="centered-title"><a href="/">sweet <img class="bee-logo" src="/icons/bee-color.svg" /></a></h1>

        {{> message }}

        <form class="logged-out-form" action="/resend-token" method="post">
          <p class="sidebar-text">
            Please enter the email address you used when signing up below:
          </p>
          <div class="form-group">
              <input type="email" name="email" placeholder="Email" value="{{sessionFlash.email}}">
              <label for="email">Email</label>
          </div>

          <button class="button button-large button-full-width" type="submit">Resend</button>
        </form>

    </div>
</div>
