<div id="homeBody" class="row justify-content-center active-feed-container">
  <div class="col-lg-8">
    <h3 id="searchTitle" class="page-header mx-2">{{#if query}}{{#eq query ""}}Search{{else}}Search: {{query}}{{/eq}}{{else}}Search{{/if}}</h3>
      <form id="searchForm">
        <input id="searchQuery" style="flex:1" type="text" class="form-control mr-2" placeholder="Search for users, communities, and tags."/>
        <button type="submit" class="button">Search</button>
      </form>
		<div class="compact-container postsContainer" id="resultsContainer"></div>
    <div class="page-load-status">
      <div class="loader-ellips infinite-scroll-request">
        <span class="loader-ellips__dot"></span>
        <span class="loader-ellips__dot"></span>
        <span class="loader-ellips__dot"></span>
        <span class="loader-ellips__dot"></span>
      </div>
      <p class="infinite-scroll-last">No more results.</p>
      <p class="infinite-scroll-error">No more results.</p>
    </div>
  </div>
</div>

<script>
  $(function() {
      activeScrollPath = '/showsearch/{{query}}/';
      startInfiniteScroll();
      
      $('#searchForm').submit(function(e) {
          e.preventDefault();
          var searchTerm = $('.active-feed-container').find('#searchQuery').val();
          $('#searchTitle').html('Search: ' + searchTerm);
          switchFeedWithinPage('/search/' + searchTerm, '/showsearch/' + searchTerm + '/');
          window.addEventListener('popstate', function() {
              var searchTerm = window.location.pathname.replace(/\/search\//, ''); //slightly hacky way to extract the current search term from the current url
              $('#searchTitle').html('Search: ' + searchTerm);
              $('#searchQuery').val(searchTerm);
          });
      });
  })
</script>
