<div id="homeBody" class="row justify-content-center">
  <div class="col-lg-8">
    <h3 class="page-header mx-2">Settings</h3>
    <form id="settingsForm" method="post" action="/updatesettings">
      <div class="form-group">
        <label for="profileVisibility">Profile page and public posts visibility</label>
        <select name="profileVisibility" class="form-control" id="profileVisibility">
          <option value="invisible" {{#eq loggedInUserData.settings.profileVisibility "invisible"}}selected{{/eq}}>Visible to logged in users only</option>
          <option value="profileOnly" {{#eq loggedInUserData.settings.profileVisibility "profileOnly"}}selected{{/eq}}>Profile visible to logged out users</option>
          <option value="profileAndPosts" {{#eq loggedInUserData.settings.profileVisibility "profileAndPosts"}}selected{{/eq}}>Profile and public posts visible to logged out users</option>
        </select>
      </div>
      <button type="submit" class="btn btn-secondary">Save settings</button>
    </form>
  </div>
</div>
