<div class="row">
    <div class="col-12">
        <h1 class="centered-title"><a href="/">sweet <img class="bee-logo" src="/icons/bee-color.svg" /></a></h1>

        {{> message}}

        <form class="logged-out-form" action="/signup" method="post">

            <div class="form-group">
                <input type="text" name="email" placeholder="Email" {{#if sessionFlash.email}}value="{{ sessionFlash.email }}"{{/if}}>
                <label for="email">Email</label>
                <small class="help-text">We don't spam you or share your data.</small>
            </div>
            <div class="form-group">
                <input type="text" name="username" placeholder="Username" maxlength="20" {{#if sessionFlash.username}}value="{{ sessionFlash.username }}"{{/if}}>
                <label for="username">Username</label>
                <small class="help-text">Lowercase letters, numbers, - (dash) and _ (underscore) only. 20 characters maximum.</small>
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Password">
                <label for="password">Password</label>
            </div>
            <div class="form-group">
                <input type="password" name="passwordrepeat" placeholder="Repeat password">
                <label for="passwordrepeat">Repeat password</label>
            </div>

            <button class="button large-button full-width-button" type="submit" >Sign up</button>
        </form>

</div>
