<section id="homeBody" class="row justify-content-center">
    <div class="col-lg-8">
        <div class="container commentsList" id="postsContainer">
            {{#if canDisplay}}
                {{> posts_v2 }}
            {{else}}
                <article class="post">
                    <section class="content">
                        <p>
                            This post cannot be displayed. Possible reasons for this are:
                        </p>
                        <ul>
                            <li>The post has been deleted, or never existed in the first place.</li>
                            <li>You are logged out and the post or the community it was posted in is private.</li>
                            <li>You are logged in but are not trusted by the post's author, or are not a member of the community the post was posted in.</li>
                        </ul>
                        <p>
                            Luckily for you, there are lots of other posts on sweet you <em>can</em> look at.
                        </p>
                    </section>
                </article>
            {{/if}}
        </div>
    </div>
</div>

<script>
$(function() {
  $(".comments").show();
  $.post('/api/user/followers', function(data){
    followers = JSON.parse(data).followers;
    tribute = new Tribute({
      values: followers,
      menuItemTemplate: function (item) {
        return '<img class="tribute-image" src="/images/'+item.original.image + '">' + item.string;
      }
    })
  })
});
</script>
