<div id="homeBody" class="row justify-content-center active-feed-container">
  <div class="col-lg-8">
    <h3 class="page-header mx-2">#{{name}}</h3>
		<div class="postsContainer">
		</div>
    {{> infiniteScrollLoadingSpinner}}
  </div>
</div>

<script>
  activeScrollPath = '/showposts/tag/{{name}}/';
  $(function(){startInfiniteScroll();});
</script>
