<div id="homeBody" class="row justify-content-center">
  <div class="col-lg-8">
    <h3 class="page-header mx-2">#{{name}}</h3>
		<div class="container commentsList" id="postsContainer">
		</div>
    {{> infinitescrollrequests}}
  </div>
</div>

<script>

$('#postsContainer').infiniteScroll({
  path: function() {
    var pageNumber = ( this.loadCount + 1 );
    return '/showposts/tag/{{name}}/' + pageNumber;
  },
  append: '.post',
  prefill: true,
  history: true,
  status: '.page-load-status'
});
</script>
