<div class="row">
    <div class="col-12">
        <h1 class="centered-title"><a href="/">sweet <img class="bee-logo" src="/icons/bee-color.svg" /></a></h1>

        {{> message }}

        <form class="logged-out-form"  action="/verify-email" method="post">
            <p class="sidebar-text">
                Please enter the email address you used when signing up below:
            </p>
            <div class="form-group">
                <input type="email" name="email" placeholder="Email address" value="{{sessionFlash.email}}" required>
                <label for="email">Email</label>
            </div>

            <input type="hidden" class="form-control" name="verificationToken" value="{{token}}" required>

            <button type="submit">Verify</button>
        </form>

    </div>

</div>
