{{#if initialPageState}}
    <script type="application/json" id="initialPageState">
        {{{initialPageState}}}
    </script>
{{/if}}

<div id="vueCont"></div>
<script src="/js/vue/index.js"></script>