/* Colors */

body {
  color: #f5f5f5;
  background: #1b1b1b;
}
a {
  color: #4da5d5;
}
.post-action-button {
  color: #aaa;
}
hr {
  background-color: #cbcbcb;
}
#topNav{
  border-bottom-color:#740c0c;
  background: #000000;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
}
#navbarProfileImage.active {
  border: 1px solid #900202;
}
#navbarProfileImage:hover {
  border: 1px solid #ce1717;
}

#navbarSearchField {
  background: #323232;
  border-color: #3e3e3e;
  font-family: 'Inconsolata', monospace;
  width: 180px;
}

#topNav .nav-link,
#topNav .nav-link:visited,
#topNav .nav-link:active,
#notificationsDropdownLink {
  color: #aaa;
}
#topNav .nav-link.active {
  color: #c22121;
}
#notificationsDropdownLink:hover,
#topNav .nav-link:hover {
  color: #e75a5a;
}
#topNav .dropdown-item {
  color: #aaa;
}
.notifications-count {
  background-color: rgb(108, 117, 125);
}

.dropdown-menu {
  background: #1b1b1b;
}

.userForm {
  background: #fff;
  border: 1px solid #e7e7e7;
}
.btn-fade {
  background: #aaa;
  border-color: #aaa;
}

#homeBody input,
#homeBody textarea,
#userBody input,
#userBody textarea {
  background-color: #323232 !important;
  color: #f5f5f5 !important;
  border: 1px solid #848484 !important;
}

.text-muted {
  color: #9ba0a4 !important;
}

#resultsContainer,
#directoryResults,
.commentsList {
  border: 1px solid #3e3e3e;
  background: #000000;
}
.commentContainer {
	padding: 15px;
	border-bottom: 1px solid #3e3e3e;
  padding-bottom: 0px;
}
#searchHeader,
#postForm {
  border-top: 1px solid #3e3e3e;
  border-left: 1px solid #3e3e3e;
  border-right: 1px solid #3e3e3e;
  background: #000000;
  padding: 15px;
}
#postForm:hover {
  box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
}
.content-box {
  border-bottom: 1px solid #3e3e3e;
}
.content-box:hover {
  box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
}
.commentContainer:hover {
  /* background: #f8f8f8; */
  box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
}
.replyContainer {
  background: #262626;
}
.repliesContainer {
  border-top: 1px solid #3e3e3e;
}
.user-list li{
  border: 1px solid #dfdfdf;
}
.user-list li:hover {
  background: #f1f1f1;
}
#image-preview {
  background-color: #ffffff;
  color: #ecf0f1;
	border: 1px dashed #ced4da;
}
#image-preview label {
  background-color: #ced4da;
	color: #555;
}
.notification-active {
  background: #eeecec;
}
.authorLink {
  color: #f5f5f5;
}
.read-more__link-wrap {
  color: #007bff;
}
.switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
}
.switch-field input:checked + label {
  background-color: #a5dc86;
}
.emoji:hover {
  border-color: #ddd;
}
.abbreviated-content:not(.content-warning-content)::after {
  background-image: linear-gradient(to bottom, rgba(255,255,255, 0), rgba(255,255,255, 1) 90%);
}
.show-more,
.content-warning-show-more {
  color: white !important;
  background: #aaa;
}
.comment-button {
  color: #aaa;
}
.comment-button:hover {
  color: #0069d9;
}
.image-preview {
  background-color: #fff;
  border: 2px dashed #d5d5d5;
}
.post-single-image {
  border: 1px solid #eaeaea;
}
.post-single-image:hover {
  border-color: #9b9b9b;
}
.image-clear {
  background-color: #ffffff99;
  color: #000000;
}
.image-preview {
  background-color: #edede8 !important;
}
#nav-tabContent,
#communitiesTabContent {
  background: white;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}
.loader-ellips__dot {
  background: #ababab; /* change color here */
}
.page-load-status > * {
  color: #ababab;
}
#newPostsAvailable {
  background: #ececec;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  border-top: 1px solid #dfdfdf;
  color: #6c6c6c;
  box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 2px inset;
}
#newPostsAvailable a{
  color: #6c6c6c;
}
.subscribed-alert {
  color: #909090;
}

.subscribed-alert a{
  color: #6f6f6f;
}

.modal {
  color: #212121;
}









/* body {
  color: #f5f5f5;
  background: #262526;
}

#topNav {
  border-bottom: 2px solid #740c0c;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
  background: #1b1b1b;
}

#topNav .nav-link {
  color: #aaa !important;
}

#topNav .nav-link.active {
  color: #c22121 !important;
}

#topNav .nav-link:hover {
  color: #e75a5a !important;
}


#resultsContainer,
.commentsList {
  border: 1px solid #0f0f0f;
  background: #1b1b1b;
}

.commentContainer {
	border-bottom: 1px solid #0f0f0f;
}

#postForm {
  border-top: 1px solid #0f0f0f;
  border-left: 1px solid #0f0f0f;
  border-right: 1px solid #0f0f0f;
  background: #1b1b1b;
}

#postForm:hover,
.commentContainer:hover,
.content-box:hover {
  box-shadow: 0px 0px 6px rgba(0,0,0,0.9);
}

.content-box{
  border-bottom: 1px solid #0f0f0f;
}

#homeBody input,
#homeBody textarea,
#userBody input,
#userBody textarea {
  background-color: #323232 !important;
  color: #f5f5f5 !important;
  border: 1px solid #848484 !important;
}

.authorLink {
  color: #f5f5f5;
}

.text-muted {
  color: #9ba0a4 !important;
}

a {
  color: #4da5d5;
}

a:hover,
.btn-link:hover {
  color: #3589e3;
}

.modal {
  color: #212121;
}

.replyContainer {
  background: #262626;
}

.repliesContainer {
  border-top: 1px solid #0f0f0f;
}

.post-single-image {
  border: 1px solid #0f0f0f;
}

.post-single-image:hover {
  border: 1px solid #4b4b4b;
}

.tab-content {
  background: #2d2d2d !important;
  border-top: 1px solid #0f0f0f !important;
  border-left: 1px solid #0f0f0f !important;
  border-right: 1px solid #0f0f0f !important;
  border-bottom: 1px solid #0f0f0f !important;
} */
