/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700|Ubuntu:300,300i,400,400i,500,500i,700,700i|Inconsolata:400,700');

@font-face {
    font-family: 'OpenDyslexic3';
    src: url('/fonts/OpenDyslexicThree-Bold.woff2') format('woff2'),
        url('/fonts/OpenDyslexicThree-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenDyslexic3';
    src: url('/fonts/OpenDyslexicThree-Regular.woff2') format('woff2'),
        url('/fonts/OpenDyslexicThree-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Colors */

body {
  color: #1a1717;
  background: #F9F9FA;
}
a {
  color: #338fc2;
}

blockquote {
  border-left: 2px solid #bbb;
  color: #777;
  padding-left: 0.5rem;
  margin: 0;
}

.post-action-button {
  color: #aaa;
}
hr {
  color: #cbcbcb;
}
#topNav{
  border-bottom-color:#ce1717;
  background: white;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
#navTitle {
  color: white;
  background: #ce1717;
}
#navbarProfileImage.active {
  border: 1px solid #900202;
}
#navbarProfileImage:hover {
  border: 1px solid #ce1717;
}
#navTitle a {
  color: #ce1717;
}

#navbarSearchField {
  background: #f3f3f3;
  border-color: #e1e1e1;
  font-family: 'Inconsolata', monospace;
  width: 180px;
}

#topNav .nav-link,
#topNav .nav-link:visited,
#topNav .nav-link:active,
#notificationsDropdownLink {
  color: #666;
}
#topNav .nav-link.active {
  color: #900202;
}
#notificationsDropdownLink:hover,
#topNav .nav-link:hover {
  color: #ce1717;
}
#topNav .dropdown-item {
  color: #666;
}
.notifications-count {
  background-color: rgb(108, 117, 125);
}
.userForm {
  background: #fff;
  border: 1px solid #e7e7e7;
}
.btn-fade {
  background: #aaa;
  border-color: #aaa;
}
#resultsContainer,
#directoryResults,
.commentsList {
  border: 1px solid #dfdfdf;
  background: white;
}
.commentContainer {
	/* background: #fafafa; */
	/* border-radius: 5px; */
	padding: 15px;
	/* margin-bottom: 10px; */
	border-bottom: 1px solid #dfdfdf;
  padding-bottom: 0px;
}
#searchHeader,
#postForm {
  border-top: 1px solid #dfdfdf;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  background: white;
  padding: 15px;
}
#postForm:hover {
  box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
}
.content-box {
  border-bottom: 1px solid #dfdfdf;
}
.content-box:hover {
  box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
}
.commentContainer:hover {
    /* background: #f8f8f8; */
    box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
}
.replyContainer {
  background: #f5f5f5;
}
.repliesContainer {
  border-top: 1px solid #eaeaea;
  /* box-shadow: inset 0 2px 2px rgba(0,0,0,0.09); */
}
.user-list li{
  border: 1px solid #dfdfdf;
}
.user-list li:hover {
  background: #f1f1f1;
}
#image-preview {
  background-color: #ffffff;
  color: #ecf0f1;
	border: 1px dashed #ced4da;
}
#image-preview label {
  background-color: #ced4da;
	color: #555;
}
.notificationLink {
  background: #eeecec;
}
.notification-active {
  background: #fff;
}
.authorLink {
  color: #1a1717;
}
.read-more__link-wrap {
  color: #007bff;
}
.switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.1);
}
.switch-field input:checked + label {
  background-color: #cb5e4c;
  color: white;
}
.add-emoji:hover {
  border-color: #ddd;
}
.abbreviated-content:not(.content-warning-content)::after {
  background-image: linear-gradient(to bottom, rgba(255,255,255, 0), rgba(255,255,255, 1) 90%);
}
.show-more,
.content-warning-show-more {
  color: white !important;
  background: #aaa;
}
.comment-button {
  color: #aaa;
}
.comment-button:hover {
  /* color: #0069d9; */
  color: #cb5e4c;
}
.btn-link:hover {
  color: #cb5e4c;
}
.btn-primary:hover {
  color: #fff;
  background-color: #cb5e4c;
  border-color: #b06357;
}
.image-preview {
  background-color: #fff;
  border: 1px dashed #d5d5d5;
}
.two-images > *,
.three-images > *,
.four-images > * {
  border: 1px solid #eaeaea;
}
.post-single-image {
  border: 1px solid transparent;
}
.post-single-image:hover {
  border: 1px solid #9b9b9b;
}
.image-clear {
  background-color: #ffffff99;
  color: #000000;
}
.image-preview {
  background-color: #f6f6f6 !important;
}
#nav-tabContent,
#communitiesTabContent {
  background: white;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}
.loader-ellips__dot {
  background: #ababab; /* change color here */
}
.page-load-status > * {
  color: #ababab;
}
#newPostsAvailable {
  background: #ececec;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  border-top: 1px solid #dfdfdf;
  color: #6c6c6c;
  box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 2px inset;
}
#newPostsAvailable a{
  color: #6c6c6c;
}
.subscribed-alert {
  color: #909090;
}

.subscribed-alert a{
  color: #6f6f6f;
}

#replyForm {
  background-color: #ffffffaa;
  box-shadow: inset 0 2px 2px rgba(0,0,0,0.09);
}

p{
  margin-bottom: 0.5em;
}

#bodyContainer {
  padding-top: 90px;
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
   #bodyContainer { width: 100%; padding-left: 0px; padding-right: 0px; padding-top:70px;}
 }

@media (max-width: 575.98px) {
  #topPostControlsRow,
  #bottomPostControlsRow,
  #replyControlsRow {
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start !important;
  }
  #topPostControlsRow>div,
  #bottomPostControlsRow>div,
  #replyControlsRow>div {
    margin-bottom: 5px;
  }
  .leftSideControls {
    order: 1;
  }
  .rightSideControls {
    order: 2;
  }
  #emojiWindowButton{
    display: none;
  }
  .replyEmojiWindowButton{
    display: none;
  }

}

body {
  font-family: 'Ubuntu', serif;
  font-size: 96.5%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inconsolata', monospace;
  letter-spacing: -0.5px;
}

.col-md-4 h4,
.col-md-4 h5,
.col-md-4 h6 {
  font-family: 'Ubuntu', serif;
}

.post-action-button {
  width: 60px;
  text-align: left;
  padding-left: 1px;
  font-size: 1rem;
}

#authorTools > button {
  text-align: right;
  padding-right: 0px;
}

hr {
  height: 1px;
  border: 0;
  display: block;
  border-top: 1px solid;
  margin: 0.5em 0;
  padding: 0;
}

#topNav {
  /*box shadow property moved to colors section*/
  border-bottom-width: 2px;
  border-bottom-style: solid;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
}

/* #navTitle {
  font-family: "Inconsolata", monospace;
  align-self: center;
  color: #ce1717;
  font-size: 1.6em;
  font-weight: 500;
} */

#navTitle {
  font-family: "Inconsolata", monospace;
  align-self: center;
  font-size: 1.6em;
  font-weight: 500;
  display: flex;
  width: 28px;
  margin: 0;
  padding: 0;
  height: 28px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding-bottom: 5px;
}

#sweetLogo {
  width: 30px;
  height: 30px;
}

#sweetLogo:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: rotate(0deg); }
  20% { transform: rotate(-3deg); }
  40% { transform: rotate(3deg); }
  60% { transform: rotate(0deg); }
  80% { transform: rotate(3deg); }
  100% { transform: rotate(-3deg); }
}

#sweetLogoLink {
  line-height:30px;
  position: relative;
  top: 2px;
}

#sweetIndexLogo {
  display: inline;
  float: left;
  width: 65px;
  height: 65px;
  position: relative;
  top: 7px;
  margin-right: 1rem;
}

#navbarProfileImage {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  border: 1px solid transparent;
}

.screenreader-text {
  display: none;
}

#navTitle a {
  text-decoration: none;
}

.navbar-group {
  display: flex;
}
#navbarLeftGroup {
  justify-content: flex-start;
  flex: 1;
}
#navbarLeftGroup .nav-item:not(:last-child) {
  padding-right: 3.5rem;
}
#navbarCentreGroup {
  justify-content: center;
}
#navbarRightGroup {
  justify-content: flex-end;
  flex: 1;
}
#navbarRightGroup .nav-item:not(:last-of-type) {
  padding-right: 2rem;
}
#navbarRightGroup .nav-item {
  padding-right: 8px;
}

#navbarMenuMobile {
  justify-content: space-between;
  width: 100%;
}

#navbarMenuDesktop {
  display: none;
  justify-content: space-around;
  margin: 0 auto;
  width: 1110px;
}

@media (min-width: 576px) {
  #navbarMenuMobile {
    display: none;
  }
  #navbarMenuDesktop {
    display: inline-flex;
  }
}

#navbarMenuDesktop .nav-link,
#navbarMenuMobile .nav-link {
  font-size: 20px;
  padding: 0;
}

#topNav .nav-item,
#topNav .nav-link {
  display: flex;
  align-items: center;
}

#topNav .nav-link,
#topNav .nav-link:visited,
#topNav .nav-link:active,
#notificationsDropdownLink {
  text-decoration: none;
}

#topNav .dropdown-toggle::after {
  display: none !important;
}

#topNav .dropdown-item {
    font-size: 90%;
}

.navbar-username,
.nav-link-text {
  display: none;
  font-size: 1rem;
  margin-left: 8px;
  font-family: 'Inconsolata', monospace;
}

.nav-link-text.not-hidden {
  display: inline !important;
}

#notificationsPageLink,
#notificationsDropdownLink {
  position: relative;
}

.notifications-count {
  font-size: 0.5em;
  position: absolute;
  top: -5px;
  left: 7px;
}

@media (min-width: 839px) {
  .navbar-username,
  .nav-link-text {
    display: inline;
  }
  .notifications-count {
    top: -2px;
    left: 7px;
  }
  #navbarLeftGroup .nav-item:not(:last-child) {
    padding-right: 2rem;
  }
}

#bodyContainer .intro {
  text-align: center;
}

.userForm {
  max-width: 380px;
  padding: 1em;
  border-radius: 4px;
  margin: 1em auto;
  /*border property moved to colors section*/
}

.userForm h2 {
  text-align: center;
}

/* .userForm .form-control {
    width: 100%;
    height: 2.5em;
    border-radius: 5px;
    border: 1px solid #cbcbcb;
    margin-bottom: 1em;
    padding: 5px 10px;
    box-sizing: border-box;
} */
/*
.userForm button {
    width: 100%;
    border: 0;
    background: #175cf4;
    padding: 5px;
    height: 2.5em;
    border-radius: 5px;
    color: white;
    font-weight: lighter;
    text-transform: uppercase;
} */


#userHeader {
  display: flex;
  justify-content: space-between;
}

#profileControlsDesktopMobile {
  display: block;
}
#profileControlsTablet {
  display: none;
}
@media (min-width: 768px) {
  #profileControlsDesktopMobile {
    display: none;
  }
  #profileControlsTablet {
    display: block;
  }
}
@media (min-width: 992px) {
  #profileControlsDesktopMobile {
    display: block;
  }
  #profileControlsTablet {
    display: none;
  }
}

/* a, a:visited, a:active {
  color: #175cf4;
} */

#topPostControlsRow,
#bottomPostControlsRow {
  display: none;
  justify-content: space-between;
  align-items: center;
}

#replyControlsRow {
  justify-content: space-between;
  align-items: center;
}

#resultsContainer,
#directoryResults,
.commentsList {
  /*border moved to colors section*/
  padding: 0;
}

.commentContainer {
	/* background: #fafafa; */
	/* border-radius: 5px; */
	padding: 15px;
	/* margin-bottom: 10px; */
	/*border moved to colors section*/
  padding-bottom: 0px;
}



@media (max-width: 768px) {
  #homeBody,
  #userBody {
    margin: 0;
  }
  #homeBody>div,
  #userBody>div {
    padding: 0;
  }
}

.content-box {
  padding: 15px;
  /*border moved to colors section*/
  padding-bottom: 0px;
}

.commentContent {
    overflow: hidden;
    word-wrap: break-word;
}

.commentMetadata {
  padding-bottom: 10px;
}

.replyContainer {
    display: none;
    /* border-top: 1px solid #e7e7e7; */
    /* margin-top: 10px; */
    /* padding-top: 0px; */
}

#replyForm {
  padding: 20px 15px 20px 15px;
  /* border-radius: 5px; */
}

.repliesContainer {
	font-size: 0.9em;
  /*border moved to colors section*/
  padding-left: 20px;
  padding-right: 20px;
}

.individualReplyContainer {
    word-wrap: break-word;
}

.repliesContainer>.individualReplyContainer:first-of-type {
  padding-top: 20px;
}

.comment-content {
  margin: 0.5rem 0 1rem 0;
}

.user-list {
    padding: 0;
    margin: 0 0 10px 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.user-list li {
    display: inline-block;
    /*border moved to colors section*/
    padding: 5px;
    border-radius: 5px;
    margin: 2px;
}

.user-list img {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  margin: 2px;
}

.btn-group-full-width {
  display: flex;
}

.btn-group-full-width .btn {
  flex: 1
}

/* IMAGE UPLOAD FORM */

.file-input {
  display:none;
}

.newimageform {
  display: none;
}

#image-preview {
  width: 260px;
  height: 260px;
  position: relative;
  overflow: hidden;
	border-radius: 5px;
	/*border moved to colors section*/
}
#image-preview input {
  line-height: 260px;
  font-size: 260px;
  position: absolute;
  opacity: 0;
  z-index: 10;
}
#image-preview label {
  position: absolute;
  z-index: 5;
  opacity: 0.8;
  cursor: pointer;
  width: 200px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
	border-radius: 5px;
}

.page-header {
   border-bottom:2px solid #ce1717;
   padding-bottom:10px;
   margin-bottom:20px;
}

#profileImageContainer {
  display: flex;
  width: 150px;
  position: relative;
}

#profileImage {
  width: 150px;
  height:150px;
  border-radius: 10px;
  /* border-radius: 50%; */
  object-fit: cover;
  object-position: top;
}

@media (max-width: 776px) {
  #profileImage {
    max-height: 250px;
  }
}

.own-profile-image {
  margin-bottom: 0 !important;
}

.community-tags {
    margin-top: -10px;
    margin-bottom: 20px;
}

#updateImage {
    position: absolute;
    bottom: 22px;
    right: 8px;
}

.postAuthorImage {
  width: 46px;
  height: 46px;
  border-radius: 5px;
  display: inline;
  margin-right: 5px;
}

@media (min-width: 576px) {
  #notificationsContainer {
      min-width: 360px;
  }
}
#notificationsList,
#notificationsContainer {
    font-size: 0.825em;
    font-weight: 300;
}

#notificationsList strong,
#notificationsContainer strong {
  font-weight: 500;
}

.notification-active {
  font-weight: 500;
}

#alertModal,
#updateProfileModal {
  margin-top: 90px;
}


.read-more__link-wrap {
    display: block;
    text-align: center;
    text-decoration: underline;
}

.switch-field {
	display: flex;
  position: relative;
  height: 38px;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	font-size: 14px;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
  margin-bottom: 0;
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}

.image-move {
  touch-action: none;
}

.editable-text {
  width: 100%;
  padding: .375rem .75rem;
  border-radius: .25rem;
  font-size: 1rem;
  line-height: 1.5;
  border: 2px solid #ced4da;
  cursor: text;
  /* min-height: 2.5rem !important; */
}

.editable-text:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}

.editable-text > p:last-child,
.editable-text > div:last-child > p
{
  margin-bottom: 0;
}

.medium-editor-element {
  min-height: 4rem !important;
}
.medium-editor-placeholder::after {
  font-style: normal !important;
  color: #6c757d;
}
.medium-editor-placeholder-relative::after {
  font-style: normal !important;
  padding: 0 !important;
  color: #6c757d;
}

#postContentWarningsContainer {
  display: none;
}

#emojiWindow,
.replyEmojiWindow {
  display: flex;
  cursor:default;
  flex-direction: row;
  justify-content: flex-start;
}

.add-emoji {
  padding: 2px 0.15rem 0 0.15rem;
  border: 1px solid transparent;
  border-radius: 4px;
  background: #fff;
}


/* Don't let emoji become italicised or bold! */
.emoji {
  font-style: normal !important;
  font-weight: 400 !important;
}
.emoji > * {
    font-style: normal;
    font-weight: 400;
}

.content-warning {
  font-weight: 500;
}

.abbreviated-content {
  height: 7rem;
  overflow: hidden;
}

.abbreviated-content:not(.content-warning-content)::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 3rem;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 1rem;
}

.show-more,
.content-warning-show-more {
  text-transform: uppercase;
  font-size: smaller;
  padding: 0 5px;
  border-radius: 4px;
  display: block;
  width: 100px;
  text-align: center;
  cursor: pointer;
}

.show-more {
  margin: 1rem auto;
}

.content-warning-show-more {
  margin: 0 auto 1rem auto;
}
/*
.post-meta {
  margin-left: 3px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  overflow: none;
  flex: 1;
}

.post-meta>p {
  margin: 0;
  height: 23px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 90%;
} */

.comment-header,
.post-header {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}
.comment-header-row-1,
.post-header-row-1 {
  display: flex;
  overflow: hidden;
}
.comment-header-row-1>*{
  align-self: center;
}
.comment-header-divider {
  padding: 0 5px;
}
.commentTimestamp {
  white-space: nowrap;
}
.comment-button {
  position: relative;
  top: 2px;
}

.comment-button:hover {
  text-decoration: none;
}
.replyToComment {
  padding: 0 10px;
}
.deleteComment {
  padding: 0;
  flex: 1;
  text-align: right;
}
.author-username {
  white-space: nowrap;
}
.author-display-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 5px;
}
.user-flag {
  padding: 0 5px;
}
.post-header .user-flag {
  position: relative;
  top: 3px;
}

.show-more-content {
  display: none;
}

.custom-file-container {
  box-sizing: border-box;
  position: relative;
  display: block;
  height: 200px;
  width: 45%;
  position: relative;
  margin-top: 1rem !important;
  margin-bottom: 0.5rem !important;
 }

 .image-preview-holder {
   margin: 0.5em 0;
   display: none;
 }

 .newimagecont {
  display: flex;
  height: 100px;
  width: 100%;
  margin-bottom: 0.5rem !important;
 }

.image-preview {
  flex: 1;
  overflow: hidden;
  transition: all 0.2s ease;
  height: 100%;
  border-radius: 4px;
  background-size: contain;
  background-position:center;
  background-repeat: no-repeat;
  background-image:url("/images/imagePreviewWindowDefault.jpg");
  /*border moved to colors*/
  margin: 0;
  object-fit: contain;
}

#postImageUpload {
  display: none;
}

#imagePreviewContainer {
  display: none;
  text-align: center;
}

.image-preview-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.image-preview-controls > a {
  text-decoration: none;
  color: #aaa;
  width: 1.5em;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#postImageDescription {
  position: relative;
  transition: all 0.2s ease;
  height: 100%;
  width: 60%;
  margin: 0 0 0 10px;
  text-align: left;
}

.sortable-placeholder {
  height: 100px;
  background: #efefef;
  border: 1px dashed #ddd;
  width: 100%;
  margin-bottom: 0.5em;
  border-radius: 4px;
}

.post-images {
  display: grid;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  max-height: 400px;
  margin-bottom: 10px;
}

.post-images a {
  min-height: 100%;
}

.post-single-image,
.post-single-image > img {
  object-fit: cover;
  cursor: pointer;
  width: 100%;
  height: 100%;
  max-height: 400px;
  transition: border 100ms ease-in;
}

.post-images.one-image {
  background-image: linear-gradient(45deg, #fff5f9 25%, #ffffff 25%, #ffffff 50%, #fff5f9 50%, #fff5f9 75%, #ffffff 75%, #ffffff 100%);
background-size: 5.66px 5.66px;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}

.post-images.one-image > img {
  object-fit: contain;
  height:auto;
}

.post-images.two-images {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
}

.post-images.three-images,
.post-images.four-images {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.post-images.three-images > *:first-child {
  grid-row-end: span 2;
}

@media (max-width: 500px){
  .post-single-image,
  .post-single-image > img {
    max-height: 175px;
  }
  .post-images{
    max-height:175px;
  }
}
.comment-content .post-images {
    max-width: 400px;
    max-height: 200px;
}
.comment-content .post-images .post-single-image {
    max-height: 200px;
}

.community-container {
  display: none;
}

#mainBody {
  display: block;
}

.editor-container {
  display: none;
}

#nav-tabContent,
#communitiesTabContent {
  /*border moved to colors*/
  padding: 15px;
  margin-top: 0;
}

 /* {
  background: white;
  padding: 15px;
  margin-top: 0;
  border: 1px solid #dee2e6;
} */

#votesContainer {
  background: #fff6f1;
}

.proposal-box>p:last-of-type {
  margin-bottom: 0;
}

.bootbox-confirm {
  padding-top: 60px;
}

#newCommunityForm label {
  font-weight: bold;
}

.loader-ellips {
  font-size: 15px; /* change size here */
  position: relative;
  width: 4em;
  height: 1em;
  margin: 10px auto;
}

.loader-ellips__dot {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  position: absolute;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
  left: 0;
}
.loader-ellips__dot:nth-child(3) { left: 1.5em; }
.loader-ellips__dot:nth-child(4) { left: 3em; }

@keyframes reveal {
  from { transform: scale(0.001); }
  to { transform: scale(1); }
}

@keyframes slide {
  to { transform: translateX(1.5em) }
}

.loader-ellips__dot:nth-child(1) {
  animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
  animation-name: slide;
}

.loader-ellips__dot:nth-child(4) {
  animation-name: reveal;
  animation-direction: reverse;
}

.page-load-status {
  display: none;
}

.page-load-status > * {
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
  }

#newPostsAvailable,
#checkNewPosts {
  display: none;
}

#newPostsAvailable {
  /*border moved to colors*/
  font-weight: 500;
}

#commentContent {
  font-size: 16px;
}

.booster:not(:last-of-type):after {
    content: ', ';
}

.content-warning-images {
    display: none;
}
.content-warning-images-shown {
  display: grid;
}

.subscribed-alert {
  font-size: 90%;
  text-align: center;
  margin-bottom: 1rem;
}

.subscribed-alert a{
  font-weight: 500;
}

.featherlight-next:hover, .featherlight-previous:hover {
    background: none !important;
}

.featherlight-next span, .featherlight-previous span {
  text-shadow: 0 0 8px rgba(0,0,0,0.6) !important;
}

/* .featherlight-next::before {
  content: '\f054'
} */
