/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700|Ubuntu:300,300i,400,400i,500,500i,700,700i|Inconsolata:400,700');

@font-face {
    font-family: 'OpenDyslexic3';
    src: url('/fonts/OpenDyslexicThree-Bold.woff2') format('woff2'),
        url('/fonts/OpenDyslexicThree-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenDyslexic3';
    src: url('/fonts/OpenDyslexicThree-Regular.woff2') format('woff2'),
        url('/fonts/OpenDyslexicThree-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Colors */

body {
  color: #1a1717;
  background: #F9F9FA;
}
a {
  color: #338fc2;
}

a:hover {
    color: #ce1717;
    text-decoration: underline;
}

blockquote {
  border-left: 2px solid #bbb;
  color: #777;
  padding-left: 0.5rem;
  margin: 0;
}

.post-action-button {
  color: #aaa;
}
hr {
  color: #cbcbcb;
}
#topNav{
  border-bottom-color:#ce1717;
  background: white;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
#navTitle {
  color: white;
  background: #ce1717;
}
#navbarProfileImage.active {
  border: 1px solid #900202;
}
#navbarProfileImage:hover {
  border: 1px solid #ce1717;
}
#navTitle a {
  color: #ce1717;
}

#navbarSearchField {
  background: #f3f3f3;
  border-color: #e1e1e1;
  font-family: 'Inconsolata', monospace;
  width: 180px;
}

#topNav .nav-link,
#topNav .nav-link:visited,
#topNav .nav-link:active,
#notificationsDropdownLink {
  color: #666;
}
#topNav .nav-link.active {
  color: #900202;
}
#notificationsDropdownLink:hover,
#topNav .nav-link:hover {
  color: #ce1717;
}
#topNav .dropdown-item {
  color: #666;
}
.notifications-count {
  background-color: rgb(108, 117, 125);
}
.userForm {
  background: #fff;
  border: 1px solid #e7e7e7;
}
.btn-fade {
  background: #aaa;
  border-color: #aaa;
}
#resultsContainer,
#directoryResults,
.commentsList {
  border: 1px solid #dfdfdf;
  background: white;
}
.commentContainer {
	/* background: #fafafa; */
	/* border-radius: 5px; */
	padding: 15px;
	/* margin-bottom: 10px; */
	border-bottom: 1px solid #dfdfdf;
  padding-bottom: 0px;
}
#searchHeader,
#postForm {
  border-top: 1px solid #dfdfdf;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  background: white;
  padding: 15px;
}
#postForm:hover {
  box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
}
.content-box {
  border-bottom: 1px solid #dfdfdf;
}
.content-box:hover {
  box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
}
article.post:hover {
    box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
}
section.comments {
  background: #f5f5f5;
  border-top: 1px solid #eaeaea;
}
.user-list li{
  border: 1px solid #dfdfdf;
}
.user-list li:hover {
  background: #f1f1f1;
}
#image-preview {
  background-color: #ffffff;
  color: #ecf0f1;
	border: 1px dashed #ced4da;
}
#image-preview label {
  background-color: #ced4da;
	color: #555;
}
.notificationLink {
  background: #eeecec;
}
.notification-active {
  background: #fff;
}
.authorLink {
  color: #1a1717;
}
.read-more__link-wrap {
  color: #007bff;
}
.switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.1);
}
.switch-field input:checked + label {
  background-color: #cb5e4c;
  color: white;
}
.add-emoji:hover {
  border-color: #ddd;
}

.community-tags .badge {
  color: white !important;
  background: #aaa;
}
.comment-button {
  color: #aaa;
}
.comment-button:hover,
.comment-button:active {
  /* color: #0069d9; */
  color: #cb5e4c !important;
}
.btn-link:hover,
.btn-link:active {
  color: #cb5e4c !important;
}
.btn-primary:hover,
.btn-primary:active {
  color: #fff !important;
  background-color: #cb5e4c !important;
  border-color: #b06357 !important;
}
.image-preview {
  background-color: #fff;
  border: 1px dashed #d5d5d5;
}
.two-images img,
.three-images img,
.four-images img {
  border: 1px solid #eaeaea;
}
.post-single-image {
  border: 1px solid transparent;
}
.post-single-image:hover {
  border: 1px solid #9b9b9b;
}
.image-clear {
  background-color: #ffffff99;
  color: #000000;
}
.image-preview {
  background-color: #f6f6f6 !important;
}
#nav-tabContent,
#communitiesTabContent {
  background: white;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}
#editBody #nav-tabContent {
  border: 1px solid #dee2e6;
}
.loader-ellips__dot {
  background: #ababab;
}
.page-load-status > * {
  color: #ababab;
}
#newPostsAvailable {
  background: #ececec;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  border-top: 1px solid #dfdfdf;
  color: #6c6c6c;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 4px inset;
}
#newPostsAvailable a{
  color: #6c6c6c;
}
.subscribed-alert {
  color: #909090;
}

.subscribed-alert a{
  color: #6f6f6f;
}

.new-comment-form {
  background-color: #ffffffaa;
  box-shadow: inset 0 2px 3px rgba(0,0,0,0.09);
  padding: 1rem 1.25rem;
}
.comment .new-comment-form {
  background-color: transparent;
  box-shadow: none;
  padding-left: 10%;
  padding-right: 0.5rem;
  padding-bottom: 0;
  padding-top: 0.5rem;
}
.pane {
    background: #fff;
    border: 1px solid #dee2e6;
}


p {
  margin-bottom: 0.5em;
}

#bodyContainer {
  padding-top: 90px;
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
   #bodyContainer { width: 100%; padding-left: 0px; padding-right: 0px; padding-top:70px;}
 }

@media (max-width: 575.98px) {
  #topPostControlsRow,
  #bottomPostControlsRow,
  #replyControlsRow {
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start !important;
  }
  #topPostControlsRow>div,
  #bottomPostControlsRow>div,
  #replyControlsRow>div {
    margin-bottom: 5px;
  }
  .leftSideControls {
    order: 1;
  }
  .rightSideControls {
    order: 2;
  }
  #emojiWindowButton{
    display: none;
  }
  .replyEmojiWindowButton{
    display: none;
  }

}

body {
  font-family: 'Ubuntu', serif;
  font-size: 96.5%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inconsolata', monospace;
  letter-spacing: -0.5px;
}

.col-md-4 h4,
.col-md-4 h5,
.col-md-4 h6 {
  font-family: 'Ubuntu', serif;
}

/* .post-action-button {
  width: 60px;
  text-align: left;
  padding-left: 1px;
  font-size: 1rem;
}

.post-action-button:hover {
    text-decoration: none;
}

#authorTools > button {
  text-align: right;
  padding-right: 0px;
} */

hr {
  height: 1px;
  border: 0;
  display: block;
  border-top: 1px solid;
  margin: 0.5em 0;
  padding: 0;
}

#topNav {
  /*box shadow property moved to colors section*/
  border-bottom-width: 2px;
  border-bottom-style: solid;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
}

/* #navTitle {
  font-family: "Inconsolata", monospace;
  align-self: center;
  color: #ce1717;
  font-size: 1.6em;
  font-weight: 500;
} */

#navTitle {
  font-family: "Inconsolata", monospace;
  align-self: center;
  font-size: 1.6em;
  font-weight: 500;
  display: flex;
  width: 28px;
  margin: 0;
  padding: 0;
  height: 28px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding-bottom: 5px;
}

#sweetLogo {
  width: 30px;
  height: 30px;
}

#sweetLogo:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: rotate(0deg); }
  20% { transform: rotate(-3deg); }
  40% { transform: rotate(3deg); }
  60% { transform: rotate(0deg); }
  80% { transform: rotate(3deg); }
  100% { transform: rotate(-3deg); }
}

#sweetLogoLink {
  line-height:30px;
  position: relative;
  top: 2px;
}

#sweetIndexLogo {
  display: inline;
  float: left;
  width: 65px;
  height: 65px;
  position: relative;
  top: 7px;
  margin-right: 1rem;
}

#navbarProfileImage {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  border: 1px solid transparent;
}

.screenreader-text {
  display: none;
}

#navTitle a {
  text-decoration: none;
}

.navbar-group {
  display: flex;
}
#navbarLeftGroup {
  justify-content: flex-start;
  flex: 1;
}
#navbarLeftGroup .nav-item:not(:last-child) {
  padding-right: 3.5rem;
}
#navbarCentreGroup {
  justify-content: center;
}
#navbarRightGroup {
  justify-content: flex-end;
  flex: 1;
}
#navbarRightGroup .nav-item:not(:last-of-type) {
  padding-right: 2rem;
}
#navbarRightGroup .nav-item {
  padding-right: 8px;
}

#navbarMenuMobile {
  justify-content: space-between;
  width: 100%;
}

#navbarMenuDesktop {
  display: none;
  justify-content: space-around;
  margin: 0 auto;
  width: 1110px;
}

@media (min-width: 576px) {
  #navbarMenuMobile {
    display: none;
  }
  #navbarMenuDesktop {
    display: inline-flex;
  }
}

#navbarMenuDesktop .nav-link,
#navbarMenuMobile .nav-link {
  font-size: 20px;
  padding: 0;
}

#topNav .nav-item,
#topNav .nav-link {
  display: flex;
  align-items: center;
}

#topNav .nav-link,
#topNav .nav-link:visited,
#topNav .nav-link:active,
#notificationsDropdownLink {
  text-decoration: none;
}

#topNav .dropdown-toggle::after {
  display: none !important;
}

#topNav .dropdown-item {
    font-size: 90%;
}

.navbar-username,
.nav-link-text {
  display: none;
  font-size: 1rem;
  margin-left: 8px;
  font-family: 'Inconsolata', monospace;
}

.nav-link-text.not-hidden {
  display: inline !important;
}

#notificationsPageLink,
#notificationsDropdownLink {
  position: relative;
}

.notifications-count {
  font-size: 0.5em;
  position: absolute;
  top: -5px;
  left: 7px;
}

@media (min-width: 839px) {
  .navbar-username,
  .nav-link-text {
    display: inline;
  }
  .notifications-count {
    top: -2px;
    left: 7px;
  }
  #navbarLeftGroup .nav-item:not(:last-child) {
    padding-right: 2rem;
  }
}

#bodyContainer .intro {
  text-align: center;
}

.userForm {
  max-width: 380px;
  padding: 1em;
  border-radius: 4px;
  margin: 1em auto;
  /*border property moved to colors section*/
}

.userForm h2 {
  text-align: center;
}

#userHeader {
  display: flex;
  justify-content: space-between;
}

#profileControlsDesktopMobile {
  display: block;
}
#profileControlsTablet {
  display: none;
}
@media (min-width: 768px) {
  #profileControlsDesktopMobile {
    display: none;
  }
  #profileControlsTablet {
    display: block;
  }
}
@media (min-width: 992px) {
  #profileControlsDesktopMobile {
    display: block;
  }
  #profileControlsTablet {
    display: none;
  }
}

/* a, a:visited, a:active {
  color: #175cf4;
} */

#topPostControlsRow,
#bottomPostControlsRow {
  display: none;
  justify-content: space-between;
  align-items: center;
}

#replyControlsRow {
  justify-content: space-between;
  align-items: center;
}

#replyControlsRow button:first-child {
    margin-right: 5px;
}

#resultsContainer,
#directoryResults,
.commentsList {
  /*border moved to colors section*/
  padding: 0;
}



@media (max-width: 768px) {
  #homeBody,
  #userBody {
    margin: 0;
  }
  #homeBody>div,
  #userBody>div {
    padding: 0;
  }
}

.content-box {
  padding: 15px;
  /*border moved to colors section*/
  padding-bottom: 0px;
}

/* .commentContent {
    overflow: hidden;
    word-wrap: break-word;
}

.commentMetadata {
  padding-bottom: 10px;
}

.replyContainer {
    display: none;
    /* border-top: 1px solid #e7e7e7; */
    /* margin-top: 10px; */
    /* padding-top: 0px; */
}

/* .individualReplyContainer {
    word-wrap: break-word;
}

.repliesContainer>.individualReplyContainer:first-of-type {
  padding-top: 20px;
} */

.post-content {
  position: relative;
}

/* .comment-content {
  margin: 0.5rem 0 1rem 0;
  position: relative;
} */

.user-list {
    padding: 0;
    margin: 0 0 10px 0;
    list-style: none;
    /* display: flex; */
    justify-content: flex-start;
    flex-wrap: wrap;
}

.user-list.collapse.show,
.user-list.collapsing {
  display: flex !important;
}

.user-list li {
    display: inline-block;
    /*border moved to colors section*/
    padding: 5px;
    border-radius: 5px;
    margin: 2px;
}

.user-list img {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  margin: 2px;
}

.user-list-toggle:hover{
  text-decoration: none;
}
.user-list-toggle::before{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f0dd';
  margin-left: 5px;
}

.user-list-toggle.collapsed::before{
  font-family: "Font Awesome 5 Free";
  content: '\f0da';
}

.btn-group-full-width {
  display: flex;
}

.btn-group-full-width .btn {
  flex: 1
}

/* IMAGE UPLOAD FORM */

.file-input {
  display:none;
}

.newimageform {
  display: none;
}

#image-preview {
  width: 260px;
  height: 260px;
  position: relative;
  overflow: hidden;
	border-radius: 5px;
	/*border moved to colors section*/
}
#image-preview input {
  line-height: 260px;
  font-size: 260px;
  position: absolute;
  opacity: 0;
  z-index: 10;
}
#image-preview label {
  position: absolute;
  z-index: 5;
  opacity: 0.8;
  cursor: pointer;
  width: 200px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
	border-radius: 5px;
}

.page-header {
   border-bottom:2px solid #ce1717;
   padding-bottom:10px;
   margin-bottom:20px;
}

#profileImageContainer {
  display: flex;
  width: 150px;
  position: relative;
}

#profileImage {
  width: 150px;
  height:150px;
  border-radius: 10px;
  /* border-radius: 50%; */
  object-fit: cover;
  object-position: top;
}

@media (max-width: 776px) {
  #profileImage {
    max-height: 250px;
  }
}

.own-profile-image {
  margin-bottom: 0 !important;
}

.community-tags {
    margin-top: -10px;
    margin-bottom: 20px;
}

#updateImage {
    position: absolute;
    bottom: 22px;
    right: 8px;
}

.postAuthorImage {
  width: 46px;
  height: 46px;
  border-radius: 5px;
  display: inline;
  margin-right: 5px;
}

.dropdown-menu.show {
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 7px rgba(0,0,0,0.07);
}

@media (min-width: 576px) {
  #notificationsContainer {
      min-width: 360px;
      max-height: 500px;
      overflow-x: scroll;
  }
}
#notificationsList,
#notificationsContainer {
    font-size: 0.825em;
    font-weight: 300;
}

#notificationsList strong,
#notificationsContainer strong {
  font-weight: 500;
}

.notification-active {
  font-weight: 500;
}
.list-group-item-action:hover {
    color: #495057;
    text-decoration: none;
    background-color: #f8f3f3;
}
.button.clear-all-notifications {
    border-radius: 0;
    width: 100%;
    border: 0px;
    box-sizing: border-box;
    height: 110%;
    height: 35px;
}

#alertModal,
#updateProfileModal {
  margin-top: 90px;
}


.read-more__link-wrap {
    display: block;
    text-align: center;
    text-decoration: underline;
}

.switch-field {
	display: flex;
  position: relative;
  height: 38px;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	font-size: 14px;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
  margin-bottom: 0;
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}

.image-move {
  touch-action: none;
}

.editable-text {
  width: 100%;
  padding: .375rem .75rem;
  border-radius: .25rem;
  font-size: 1rem;
  line-height: 1.5;
  border: 2px solid #ced4da;
  cursor: text;
  /* min-height: 2.5rem !important; */
}

.editable-text:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}

.editable-text > p:last-child,
.editable-text > div:last-child > p
{
  margin-bottom: 0;
}

.medium-editor-element {
  min-height: 4rem !important;
}
.medium-editor-placeholder::after {
  font-style: normal !important;
  color: #6c757d;
}
.medium-editor-placeholder-relative::after {
  font-style: normal !important;
  padding: 0 !important;
  color: #6c757d;
}

#postContentWarningsContainer {
  display: none;
}

#emojiWindow,
.replyEmojiWindow {
  display: flex;
  cursor:default;
  flex-direction: row;
  justify-content: flex-start;
}

.add-emoji {
  padding: 2px 0.15rem 0 0.15rem;
  border: 1px solid transparent;
  border-radius: 4px;
  background: #fff;
}

/* Don't let emoji become italicised or bold! */
.emoji {
  font-style: normal !important;
  font-weight: 400 !important;
}
.emoji > * {
    font-style: normal;
    font-weight: 400;
}


/* .comment-header,
.post-header {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}
.comment-header-row-1,
.post-header-row-1 {
  display: flex;
  overflow: hidden;
}
.comment-header-row-1>*{
  align-self: center;
}
.comment-header-divider {
  padding: 0 5px;
}
.commentTimestamp {
  white-space: nowrap;
}
.comment-button {
  position: relative;
  top: 2px;
}

.comment-button:hover {
  text-decoration: none;
}
.replyToComment {
  padding: 0 10px;
}
.deleteComment {
  padding: 0;
  flex: 1;
  text-align: right;
} */
/* .author-username {
  white-space: nowrap;
}
.author-display-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 5px;
} */
/* .user-flag {
  padding: 0 5px;
} */
.post-header .user-flag {
  width: 1.5rem;
  align-self: center;
}

.show-more-content {
  display: none;
}

.custom-file-container {
  box-sizing: border-box;
  position: relative;
  display: block;
  height: 200px;
  width: 45%;
  position: relative;
  margin-top: 1rem !important;
  margin-bottom: 0.5rem !important;
 }

 .image-preview-holder {
   margin: 0.5em 0;
   display: none;
 }

 .newimagecont {
  display: flex;
  height: 100px;
  width: 100%;
  margin-bottom: 0.5rem !important;
 }

.image-preview {
  flex: 1;
  overflow: hidden;
  transition: all 0.2s ease;
  height: 100%;
  border-radius: 4px;
  background-size: contain;
  background-position:center;
  background-repeat: no-repeat;
  background-image:url("/images/imagePreviewWindowDefault.jpg");
  /*border moved to colors*/
  margin: 0;
  object-fit: contain;
}

#postImageUpload {
  display: none;
}

#imagePreviewContainer {
  display: none;
  text-align: center;
}

.image-preview-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.image-preview-controls > a {
  text-decoration: none;
  color: #aaa;
  width: 1.5em;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-preview-controls > a:hover {
  color: #666;
}

#postImageDescription {
  position: relative;
  transition: all 0.2s ease;
  height: 100%;
  width: 60%;
  margin: 0 0 0 10px;
  text-align: left;
  resize: none;
}

.sortable-placeholder {
  height: 100px;
  background: #efefef;
  border: 1px dashed #ddd;
  width: 100%;
  margin-bottom: 0.5em;
  border-radius: 4px;
}
.newimagecont {
  transition: scale .1s ease-in-out, opacity .1s ease-in-out;
}
.onthemove {
  transform: scale(.99);
  opacity: .75;
}

.post-images {
  display: grid;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  max-height: 400px;
  margin-bottom: 10px;
}

.post-images a {
  min-height: 100%;
}

.post-single-image,
.post-single-image > img {
  object-fit: cover;
  cursor: pointer;
  width: 100%;
  height: 100%;
  max-height: 400px;
  transition: border 100ms ease-in;
  border-radius: 4px;
}

.post-images.one-image {
  background-image: linear-gradient(45deg, #fff5f9 25%, #ffffff 25%, #ffffff 50%, #fff5f9 50%, #fff5f9 75%, #ffffff 75%, #ffffff 100%);
background-size: 5.66px 5.66px;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}

.post-images.one-image > img {
  object-fit: contain;
  height:auto;
}

.post-images.two-images {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
}

.post-images.three-images,
.post-images.four-images {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.post-images.three-images > *:first-child {
  grid-row-end: span 2;
}

@media (max-width: 500px){
  .post-single-image,
  .post-single-image > img {
    max-height: 175px;
  }
  .post-images{
    max-height:175px;
  }
}
.comment-content .post-images {
    max-width: 400px;
    max-height: 200px;
}

.comment-content  .post-images.one-image {
  display: inline-block;
}
.comment-content .post-images .post-single-image {
    max-height: 200px;
}

.community-container {
  display: none;
}

#mainBody {
  display: block;
}

.editor-container {
  display: none;
}

#nav-tabContent,
#communitiesTabContent {
  /*border moved to colors*/
  padding: 15px;
  margin-top: 0;
}

 /* {
  background: white;
  padding: 15px;
  margin-top: 0;
  border: 1px solid #dee2e6;
} */

#votesContainer {
  background: #fff6f1;
}

.proposal-box>p:last-of-type {
  margin-bottom: 0;
}

.bootbox-confirm {
  padding-top: 60px;
}

#newCommunityForm label {
  font-weight: bold;
}

.loader-ellips {
  font-size: 15px; /* change size here */
  position: relative;
  width: 4em;
  height: 1em;
  margin: 10px auto;
}

.loader-ellips__dot {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  position: absolute;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
  left: 0;
}
.loader-ellips__dot:nth-child(3) { left: 1.5em; }
.loader-ellips__dot:nth-child(4) { left: 3em; }

@keyframes reveal {
  from { transform: scale(0.001); }
  to { transform: scale(1); }
}

@keyframes slide {
  to { transform: translateX(1.5em) }
}

.loader-ellips__dot:nth-child(1) {
  animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
  animation-name: slide;
}

.loader-ellips__dot:nth-child(4) {
  animation-name: reveal;
  animation-direction: reverse;
}

.page-load-status {
  display: none;
}

.page-load-status > * {
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
  }

#newPostsAvailable,
#checkNewPosts {
  display: none;
}

#newPostsAvailable {
  /*border moved to colors*/
  font-weight: 500;
  padding-bottom: .25rem;
}

.booster:not(:last-of-type):after {
    content: ', ';
}

.content-warning-images {
    display: none;
}
.content-warning-images-shown {
  display: grid;
}

.subscribed-alert {
  font-size: 90%;
  text-align: center;
  margin-bottom: 1rem;
}

.subscribed-alert a{
  font-weight: 500;
}

.featherlight-next:hover, .featherlight-previous:hover {
    background: none !important;
}

.featherlight-next span, .featherlight-previous span {
  text-shadow: 0 0 8px rgba(0,0,0,0.6) !important;
}

/* .featherlight-next::before {
  content: '\f054'
} */

#welcome-message-container {
  padding: 15px;
  border-bottom: 0;
  background: -moz-linear-gradient(-45deg, #f7efff 0%, #d8cce5 100%);
  background: -webkit-linear-gradient(-45deg, #f7efff 0%,#d8cce5 100%);
  background: linear-gradient(135deg, #f7efff 0%,#d8cce5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7efff', endColorstr='#d8cce5',GradientType=1 );
  color: #2c1445;
}

#welcome-message-container > p:last-child {
  margin: 0;
}

.community-tags .badge {
  font-weight: 400;
  font-size: 90%;
}

.link-preview-container {
    display: flex;
    height: 100px;
    padding: 10px;
    color: #1a1717;
    font-weight: 500;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    margin: 0.5em 0;
}

.link-preview-container:hover {
    text-decoration: none;
    background: #fcfcfc;
}

.link-preview-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.link-preview-text-container>span {
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.link-preview-image {
    flex: 0;
    margin-right: 10px;
    border-radius: 2px;
}

.link-preview-description {
    font-weight: 400;
    font-size: 0.9em;
}

.link-preview-domain {
    font-weight: 300;
    font-size: 0.9em;
    font-variant: small-caps;
}
.pane {
    padding: 15px;
}

.comments-marker {
    position: relative;
    top: -5px;
    left: 1px;
}

.comments-number {
    font-size: smaller;
    margin-left: 3px;
}

.form-control {
    font-family: 'Ubuntu', sans-serif;
}


.childReplyForm {
    padding-left: 64px;
    margin-bottom: 1em;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1em;
}


/* NEW POST STYLES */

article.post {
    padding-top: 1rem;
    border-bottom: 1px solid #dfdfdf;
}
article.post > .notifications,
article.post > header,
article.post > .content,
article.post > .toolbar,
article.post .comments-container {
    padding: 0 1rem;
}

article.post > .notifications > div:last-child {
    margin-bottom: 1em;
}
article.post > .notifications div {
    color: #959595;
    margin-bottom: 0.5rem;
    font-size: 0.925rem;
}
article.post > .notifications div a,
article.post > .notifications div a:active,
article.post > .notifications div a:visited {
    color: #959595;
}
article.post > .notifications div a:hover {
    color: #ce1717;
}
article.post > .notifications div.recently-commented-notification {
    color: #F87E2C;
}
article.post > .notifications div.recently-commented-notification a,
article.post > .notifications div.recently-commented-notification a:active,
article.post > .notifications div.recently-commented-notification a:visited {
    color: #F87E2C; /* Green #529C5F */
}
article.post > .notifications div.recently-commented-notification a:hover {
    color: #ce1717;
}
article.post > .notifications div.community-notification {
    display: flex;
    align-items: center;
}
article.post > .notifications div.community-notification img {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    margin-right: 5px;
}
article.post > .notifications div.recently-commented-notification a,
article.post > .notifications div.community-notification a,
article.post > .notifications div.boosters-notification a {
    font-weight: 500;
}
article.post > header {
    display: flex;
}
article.post > header img.author-image {
    width: 46px;
    height: 46px;
    border-radius: 5px;
}
article.post > header .post-header-left {
    height: 46px;
    width: 46px;
    margin-right: 5px;
}
article.post > header .post-header-right {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    justify-content: center;
}
article.post > header .post-header-right > * {
    /* height: 23px; */
}
article.post > header h2.author-name {
    font-size: 1em;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0;
    margin: 0;
    display: flex;
    overflow: hidden;
    margin-bottom: 4px;
}
article.post > header .author-display-name,
article.comment > header .author-display-name {
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 5px;
}
article.post > header .author-display-name a,
article.comment > header .author-display-name a,
article.post > header .author-username a,
article.comment > header .author-username a {
    color: #1a1717;
}
article.post > header .author-display-name a:hover,
article.comment > header .author-display-name a:hover,
article.post > header .author-username a:hover,
article.comment > header .author-username a:hover {
    color: #ce1717;
}
article.post > header .author-username,
article.comment > header .author-username {
    color: #959595;
}
article.post > header .author-username:first-child,
article.comment > header .author-username:first-child {
    color: #1a1717;
    font-weight: 500;
}
article.post > header .metadata {
    color: #959595;
    font-size: 0.85rem;
}
article.post > .content {
    position: relative;
    margin: 1rem 0;
}
article.post > .content .content-warning {
    margin-bottom: 0.5rem;
}
article.post > .toolbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding-left: 0.65rem;
}
article.post > .toolbar > div {
    display: flex;
    flex: 1;
}
article.post > .toolbar > div:first-child {
    justify-content: flex-start;
}
article.post > .toolbar > div:last-child {
    justify-content: flex-end;
}
article.post > .toolbar > div:first-child  * {
    justify-content: flex-start;
}
article.post > .toolbar > div:last-child * {
    justify-content: flex-end;
}

section.comments {
    font-size: 0.9rem;
    display: none;
}
section.comments:last-child {
    padding-bottom: 0.25rem; /* This looks like a CSS bug */
}
article.comment {
    margin-top: 1rem;
}
article.comment:last-child {
    margin-bottom: 1rem;
}
article.comment > header {
    display: flex;
}

article.comment > header .comment-header-container {
    display: flex;
    align-items: center;
    width: 100%;
}
article.comment > header .comment-header-divider {
    padding: 0 5px 0 1px;
    color: #959595;
}
article.comment > header > .author-image {
    width: 25px;
    height: 25px;
    border-radius: 3px;
    margin-right: 3px;
}
article.comment > header h3.author-name {
    font-size: 1em;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0;
    margin: 0;
    display: flex;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding-right: 5px;
}

article.comment > header .author-username {
    font-weight: 400;
}


article.comment > header .timestamp {
    font-size: 0.75rem;
    color: #959595;
    white-space: nowrap;
    position: relative;
    top: 1px;
}
article.comment > header .toolbar {
    display: flex;
    flex: 1;
    justify-content: space-between;
}
article.comment > .content {
    margin-top: 0.5rem;
}
article.comment > .content.comment-deleted-content {
    margin-top: 0;
}
article.comment > .content p:last-child {
    margin-bottom: 0rem;
}


article.comment article.comment {
    padding-left: 10%;
}

.user-flag {
    color: red;
    margin-left: 5px;
}

a.show-more { /* Shim for old show more button element */
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    padding: .15rem .35rem;
    font-weight: 300;
    text-transform: uppercase;
    height: 100%;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #aaa;
    color: #fff !important;
    width: 100px;
    display: block;
    font-size: 0.8rem;
    margin: 0.5rem auto;
}

a.show-more:hover { /* Shim for old show more button element */
    background: #959595;
}

.button {
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    padding: .15rem .35rem;
    font-weight: 300;
    text-transform: uppercase;
    height: 100%;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
}

.grey-button {
    background: #aaa;
    color: #fff;
}

.grey-button:hover {
    background: #959595;
}

.outline-button {
    background: #fff;
    border-color: #aaa;
    color: #aaa;
    font-weight: 400;
}
.outline-button:hover {
    background: #aaa;
    color: #fff;
}

.button.show-boosters-list {
    font-size: 0.7rem;
    margin-left: 2px;
    top: -2px;
    position: relative;
}

.button.post-toolbar-button {
    background: #fff;
    color: #aaa;
    min-width: 40px;
    max-width: 80px;
    flex: 1;
    display: flex;
    align-items: center;
}
.button.post-toolbar-button:hover {
    background: #fff;
    color: #ce1717;
}
.button.comment-toolbar-button {
    background: none;
    color: #aaa;
    padding: 0;
    font-size: 0.7rem;
}
.button.comment-toolbar-button:not(:first-child) {
    margin-left: 1rem;
}
.button.comment-toolbar-button:hover {
    color: #ce1717;
}

.post-toolbar-form {
    min-width: 40px;
    max-width: 80px;
    flex: 1;
    display: flex;
}

.abbreviated-content:not(.content-warning-content)::after {
  background-image: linear-gradient(to bottom, rgba(255,255,255, 0), rgba(255,255,255, 1) 90%);
}
.comment-content .abbreviated-content:not(.content-warning-content)::after {
  background-image: linear-gradient(to bottom, rgba(255,255,255, 0), rgba(245,245,245, 1) 90%);
}

.comment-deleted-message {
    font-style: italic;
    font-weight: 300;
}

.content-warning {
  font-weight: 500;
}

.abbreviated-content {
  height: 7rem;
  overflow: hidden;
}

.abbreviated-content:not(.content-warning-content)::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 1.5rem;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 3rem;
}

.button.show-more {
    width: 100px;
    display: block;
    font-size: 0.8rem;
    margin: 0.5rem auto;
}

.button.content-warning-show-more {
    width: 100px;
    display: block;
    font-size: 0.8rem;
    margin: 0 auto 0.5rem auto;
}
